<div class="page-header">
  <h1>Install GNU Wget for Windows</h1>
  <%= link_to 'Looking for a different operating system?', wget_path(choose: '1') %>
</div>

<% wget_file = 'wget-1.11.4-1-setup.exe' %>

<ol>
<li>
  Download <%= link_to wget_file, "http://downloads.sourceforge.net/gnuwin32/#{wget_file}" %>.
</li>
<li>
  Double click <code><%= wget_file %></code> and follow installation instructions.
<li>
  Click the Windows Start Button.
</li>
<li>
  Click the <b>search bar</b> or <b>Run...</b> and type <code>command</code> and click <code>Enter</code>.
</li>
<li>
  Verify GNU Wget installation in the Command Prompt.
  <pre class='code'>wget.exe --version

  <span class="text-muted">GNU Wget <%= wget_file.split('-setup.exe').first.split('wget-').last %></span></pre>
</li>
</ol>

