<ul class="nav nav-tabs" style="margin-top:20px">
  <li class="<%= 'active' if ['show', 'pages', 'edit_page', 'new_page', 'create_page'].include?(params[:action]) %>">
    <%= link_to @tool.name, @tool %>
  </li>
</ul>
