.panel.panel-default
  .panel-heading{ style: 'overflow:hidden' }
    .panel-title.nowrap
      = link_to tool.name, tool
  .panel-body{ style: 'position:relative' }
    .center{ style: 'padding-bottom: 5px;height: 145px;line-height: 145px;' }
      - if tool.logo.size > 0
        = link_to image_tag(logo_tool_path(tool), style: 'max-width:100%;max-height:140px'), tool
      - else
        = link_to image_tag('project-default-logo.png', style: 'max-width:100%;max-height:140px'), tool
    - unless tool.tool_type.blank?
      .pull-right{ style: 'position:absolute;right:0px;bottom:5px' }
        %span.label
          = link_to tool.type_name, tools_path(type: tool.tool_type)
