- text_class = "text-dark" unless defined?(text_class)
.row.no-gutters.title-container.title-strong
  .col.bar.d-none.d-sm-block
  .col.col-sm-auto.title{ class: text_class }= title
  .col.bar.d-none.d-sm-block
