<div class="row">
  <% @tools.each do |tool| %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= render partial: 'tools/panel', locals: { tool: tool } %>
    </div>
  <% end %>
</div>

<div class="center"><%= paginate @tools, theme: "contour" %></div>
