<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Mac OS X Prerequisites</h3>
  </div>
  <div class="panel-body">
    <p>
      Make sure you have the latest version of XCode installed. XCode 4.6.3 or greater for Mountain Lion.
    </p>
    <p>
      <%= link_to 'developer.apple.com/xcode', 'https://developer.apple.com/xcode', target: '_blank' %>
    </p>

    <p>
      Once XCode is installed, open up XCode, go to <code>Preferences</code>, then select <code>Downloads</code>, and <code>Install Command Line Tools</code>.
    </p>
  </div>
</div>
