- @title = "Edit Tool: #{@tool.name_was}"

- content_for :banner do
  .banner
    .container
      .banner-header.brand
        = link_to 'Tools', tools_path
        &middot;
        = link_to @tool.name_was, @tool
        &middot;
        Edit

= render 'form'
