- @title = 'Tools'
.beta-container
  .bridge-texture
    .horizontal-fade
      .vertical-fade{ style: 'padding: 0vw 5vw 0vw 5vw;' }
        .main-container.full-screen.transparent-light-texture
          %h1
            = @title
            - if current_user and current_user.system_admin?
              = link_to "Create Tool", new_tool_path, class: 'btn btn-xs btn-primary'
          %p
            Tools to help jumpstart your research.

  .main-container.grid-texture
    = render partial: 'tools/tools'
