- @title = "Requests - #{@tool.name}"

= render "tools/header"

.row
  .col-md-9{ style: "margin-bottom: 20px;" }
    %h1 Collaborators
    .jumbotron
      %p Currently not implemented.
  .col-md-3
    = render "documentation/logo_and_admin"
    = render "tools/links"
