<div class="page-header">
  <h1>Install GNU Wget</h1>
</div>

<blockquote>
GNU Wget is a free software package for retrieving files using HTTP, HTTPS and FTP, the most widely-used Internet protocols. It is a non-interactive commandline tool, so it may easily be called from scripts, cron jobs, terminals without X-Windows support, etc.
  <br /><br />
  <small>http://www.gnu.org/software/wget/</small>
</blockquote>


<div class="row">
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Windows</h3>
      </div>
      <div class="panel-body">
        <%= link_to 'Install GNU Wget for Windows', wget_windows_path %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Mac OS X and Linux</h3>
      </div>
      <div class="panel-body">
        <%= link_to 'Install GNU Wget from Source', wget_src_path %>
      </div>
    </div>
  </div>
</div>
