// scss-lint:disable SelectorFormat
// SelectorFormat is ignored since the tool is developed externally, and
// changing class names would require a JS rewrite of the tool itself.

.colorselector {
  background: asset-url('colorpicker/select2.png');
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 36px;

  div {
    background: asset-url('colorpicker/select2.png') center;
    height: 28px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 28px;
  }
}

.colorpicker {
  background-image: asset-url('colorpicker/custom_background.png');
  bottom: 0;
  left: 0;
  position: absolute;

  input {
    color: $input-color;
  }
}

.colorpicker_hue div {
  background-image: asset-url('colorpicker/custom_indic.gif');
}

.colorpicker_hex {
  background-image: asset-url('colorpicker/custom_hex.png');
}

.colorpicker_rgb_r {
  background-image: asset-url('colorpicker/custom_rgb_r.png');
}

.colorpicker_rgb_g {
  background-image: asset-url('colorpicker/custom_rgb_g.png');
}

.colorpicker_rgb_b {
  background-image: asset-url('colorpicker/custom_rgb_b.png');
}

.colorpicker_hsb_s {
  background-image: asset-url('colorpicker/custom_hsb_s.png');
}

.colorpicker_hsb_h {
  background-image: asset-url('colorpicker/custom_hsb_h.png');
}

.colorpicker_hsb_b {
  background-image: asset-url('colorpicker/custom_hsb_b.png');
}

.colorpicker_submit {
  background-image: asset-url('colorpicker/custom_submit.png');
}

.custom_widget {
  height: 36px;
  margin-bottom: 0;
  position: relative;
}
