.signature-pad {
  margin-bottom: 1rem;
}

.signature-pad-header {
  @include float-right;
  margin-top: -2rem;
}

.signature-pad-body {
  .signature-pad-body-sign-here {
    @include ignore-selection;
    color: $p400-grey;
    font-style: italic;
    margin: 1rem;
  }

  background-color: $brand-white;
  border: 1px solid $p100-grey;
  border-radius: 4px;
  margin: 0 auto;
  min-height: 354px;
  position: relative;

  canvas {
    @include ignore-selection;
    border-radius: 4px;
    box-shadow: $box-shadow;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.sign-with-finger {
  display: block;

  @media (hover) {
    display: none;
  }
}

.sign-with-mouse {
  display: none;

  @media (hover) {
    display: block;
  }
}

.img-signature {
  @include ignore-selection;

  height: auto;
  max-width: 100%;
}
