- @title = "Tool Submitted"

- content_for :header_simple do
  .text-center
    .mb-3= @title
    .lead
      We have sent you an email to confirm your account.

.dashboard-container-narrow
  %p
    Thanks for submitting your tool. To make further edits, please confirm your
    email and then access the tool from your Dashboard.

  %p
    = link_to "Click here", new_user_confirmation_path
    if you did not receive an email to confirm your account.

  %p Welcome aboard!

  %p The NSRR Team
