- content_for :header do
  .header-container
    .container
      %h1.page-heading.center
        Looking to
        %i.fa.fa-cloud-download
        download data?

.jumbotron
  %p.center
    Proceed through
    %strong
      a few short steps
    of the submission review process.
  %p.center
    Save your progress whenever, "Submit your Application" when ready!
  %p.center
    %br
    = link_to submissions_launch_path(dataset: params[:dataset]), method: :post, class: "btn btn-lg btn-primary btn-shadow" do
      Click to start!
      %i.fa.fa-caret-right

  %div{ style: "margin-top: 80px;" }

    %p.center
      We're here to help! Send your questions to
      = succeed "." do
        = mail_to "support@sleepdata.org"
