- content_for :banner do
  .jumbotron{ style: 'margin-bottom:0;border-radius: 0;' }
    .container
      %h1.center
        Looking to
        %span.glyphicon.glyphicon-cloud-download
        download data?

  .call-to-action
    .call-to-action-body
      = link_to submissions_launch_path(dataset: params[:dataset]), method: :post, class: 'btn btn-lg btn-call-to-action' do
        Get started now!
        %span.glyphicon.glyphicon-arrow-right

.content-container.lead
  %p.center
    You are about to start a simple process to gain access to terabytes of data on the NSRR.

  %p.center
    This
    %strong
      quick
    process guides you through
    %strong
      several short steps
    of the NSRR Data Use Agreement and IRB review process. You can also save your
    progress, so you can "Submit your Application" when you feel you're ready!

  %hr.divider-md

  %p.center
    If you need any help with this process, email us at:
    = mail_to 'support@sleepdata.org'
