- @title = 'Tool Submission Contributed'

- content_for :body_class do
  brand-background

- content_for :banner do
  .dataset-banner
    .container
      .dataset-header.brand= @title

  .call-to-action
    .call-to-action-body
      %p
        Thank you for submitting your tool for display on the NSRR.

      %p
        We will do a quick review of the tool to see that it is applicable to
        data hosted on the NSRR and you will receive an email when this has been
        completed.

      %p
        Don't hesitate to contact us at our email address with any further
        questions:
        = mail_to 'support@sleepdata.org'


      = link_to dashboard_path, class: 'btn btn-lg btn-call-to-action' do
        Go to My Dashboard
        %span.glyphicon.glyphicon-arrow-right
