#agreement-variable-modal.modal.fade{ tabindex: "-1", role: "dialog", aria: { labelledby: "exampleModalLabel", hidden: "true" } }
  .modal-dialog{ role: "document" }
    #agreement-variable-modal-content.modal-content
