- value = agreement_variable.value
- variable = agreement_variable.final_legal_document_variable
- if variable.variable_type == "checkbox"
  - content = simple_check(value == "1")
- elsif variable.variable_type == "radio"
  - option = variable.options.find_by(value: value)
  - content = simple_markdown(option&.display_name || value)
- elsif variable.variable_type == "text"
  - content = simple_format(value)
- else
  - content = value
.card.data-request-review-card
  .card-body
    .small.text-muted
      = link_to_if @data_request.submitted?, variable.display_name_label, edit_reviewer_agreement_variable_path(@data_request, agreement_variable), remote: :true, class: "link-blend-muted"
      - if agreement_variable.resubmission_required?
        = icon("fas", "exclamation-triangle", class: "text-danger", rel: "tooltip", data: { title: "Marked for resubmission", container: "body", placement: "top" })

    = content
  - if agreement_variable.reviewer_comment.present?
    .card-footer.text-danger.small= agreement_variable.reviewer_comment
