.main-container.call-to-action

  %h2.header-top{ style: 'text-align: center' }
    Published or presented using NSRR data?

  %p.screen-description-top.center
    We want to highlight your work! Contact us at
    = link_to 'support@sleepdata.org', 'mailto:support@sleepdata.org'
    to get started.
