- content_for :footer do
  .call-to-action
    .call-to-action-header
      Published or presented using NSRR data?
    .call-to-action-body
      We want to highlight your work! Contact us at
      = mail_to ENV["support_email"]
      to get started.
