%p
  3. Any Data/Datasets provided to Data User under this DAUA will be
  De-Identified within the meaning of the Health Insurance Portability and
  Accountability Act of 1996 privacy regulations
  = surround '(', ').' do
    %strong "HIPAA"
  Data User agrees that Data User will not attempt to identify or re-identify
  any individual patient/research subject or group of patients/research
  subjects from the Data / Datasets.

%p
  4. Data User agrees that Data User will use the Data / Datasets solely for
  the Specific Purpose and for no other purpose. Substantive modifications to
  the Specific Purpose will require submission of an amendment to the original
  access request and be subject to new approval pursuant to the process
  described in Section 2.

%p
  5. Data User agrees that Data User will not disclose, disseminate, or
  otherwise share the Data / Datasets to or with any other person or entity
  other than the persons or entities identified to BWH on its application for
  NSRR Data access, for any purpose, without the prior written consent of BWH.
  Data User will ensure that any permitted third parties who are not under its
  direct control and who will have access to the Data / Datasets agree in
  writing to all of the same terms, conditions and obligations that apply to
  Data User with respect to the Data / Datasets, and will make BWH a
  third-party beneficiary of such agreement. For avoidance of doubt, although
  Data User may publish or present the results of any research analysis
  conducted by it as part of the Specific Purpose, Data User may NOT include
  the Data / Datasets, or any elements, parts or excerpts thereof, in any
  publication or presentation without the express prior written consent of BWH
  to such inclusion.

%p
  6. If the Data User determines that it is Required by Law (as that term is
  defined in the HIPAA privacy regulations) to use or disclose the Data /
  Datasets other than as provided for in this DAUA, it shall provide prompt
  written notice of such determination to BWH so that BWH may have an
  opportunity to take measures to protect the Data / Datasets as appropriate.

%p
  7. Data User will use appropriate safeguards, including information security
  controls, to prevent use or disclosure of the Data / Datasets other than as
  provided for by this DAUA, and Data User will report immediately to BWH in
  writing any use or disclosure not provided for by this DAUA of which it
  becomes aware.

%p
  8. Upon the expiration or earlier termination of this DAUA as provided in
  Section
  = @agreement.commercial? ? '14' : '12'
  below, the Data User shall cease using the Data / Datasets
  and shall destroy (or return if so requested by BWH) all of the Data /
  Datasets received in tangible form, including notes, reports, and other
  information to the extent it contains the Data / Datasets, and shall keep no
  copies, except to the extent specifically Required by Law(s) made known to
  BWH by the Data User.

%p
  9. THE DATA / DATASETS AND ALL OTHER MATERIALS, TOOLS OR CONTENT ON
  HTTPS://SLEEPDATA.ORG ARE PROVIDED "AS IS." BWH MAKES NO REPRESENTATIONS OR
  WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, CONCERNING THE DATA/DATASETS OR
  MATERIALS, TOOLS OR CONTENT, OR THE RIGHTS GRANTED HEREIN, INCLUDING,
  WITHOUT LIMITATION, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
  PURPOSE, NONINFRINGEMENT, AND THE ABSENCE OF LATENT OR OTHER DEFECTS,
  WHETHER OR NOT DISCOVERABLE, AND HEREBY DISCLAIMS THE SAME.

%p
  10. IN NO EVENT SHALL BWH OR ANY OF BWH'S RESPECTIVE TRUSTEES, DIRECTORS,
  OFFICERS, MEDICAL OR PROFESSIONAL STAFF, EMPLOYEES AND AGENTS BE LIABLE TO
  THE DATA USER FOR DIRECT, INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE OR
  CONSEQUENTIAL DAMAGES OF ANY KIND ARISING IN ANY WAY OUT OF THIS DAUA OR
  RIGHTS GRANTED HEREIN, HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
  INCLUDING WITHOUT LIMITATION, ECONOMIC DAMAGES OR INJURY TO PROPERTY OR LOST
  PROFITS, REGARDLESS OF WHETHER BWH SHALL BE ADVISED, SHALL HAVE OTHER REASON
  TO KNOW, OR IN FACT SHALL KNOW OF THE POSSIBILITY OF THE FOREGOING.

- if @agreement.commercial?
  %p
    11. Data User shall indemnify, defend and hold harmless BWH and its
    affiliates and their respective trustees, directors, officers, medical and
    professional staff, employees, and agents and their respective successors,
    heirs and assigns
    = surround '(the', '),' do
      %strong "Indemnities"
    against any liability, damage, loss or expense (including reasonable
    attorneys' fees and expenses of litigation) incurred by or imposed upon
    the Indemnitees or any one of them in connection with any claims, suits,
    actions, demands or judgments arising out of any theory of product
    liability (including, but not limited to, actions in the form of contract,
    tort, warranty, or strict liability) concerning any product, tool,
    technology, process or service made, used, or sold or performed pursuant
    to any right granted under this DAUA. Data User agrees, at its own
    expense, to provide attorneys reasonably acceptable to BWH to defend
    against any actions brought or filed against any party indemnified
    hereunder with respect to the subject of indemnity contained herein,
    whether or not such actions are rightfully brought; provided, however,
    that any Indemnitee shall have the right to retain its own counsel, at the
    expense of Data User, if representation of such Indemnitee by counsel
    retained by Data User would be inappropriate because of conflict of
    interests of such Indemnitee and any other party represented by such
    counsel. Data User agrees to keep BWH informed of the progress in the
    defense and disposition of such claim and to consult with BWH prior to any
    proposed settlement.

  %p
    12. Data User shall maintain insurance sufficient to meet its obligations
    under Section 11 of this DAUA.
