.landing-container
  .landing-header
    %h2
      Download datasets.
    %p.lead
      Gain access to
      = link_to 'rich datasets', datasets_path
      complete with online documentation.
  .landing-body
    .row
      - @datasets.order('RANDOM()').limit(3).each do |dataset|
        .col-xs-12.col-md-4
          = render 'datasets/panel', dataset: dataset
