.landing-container
  .landing-header
    %h2
      Begin analysis.
    %p.lead
      Analyze and manipulate data using
      = succeed '.' do
        = link_to 'tools contributed by the research community', tools_path
  .landing-body
    .row
      - @tools.each do |tool|
        .col-xs-12.col-sm-6.col-md-4
          = render 'tools/panel', tool: tool
