- @title = "Academic User Group"

.about-header
  = @title

%p.lead.center
  A special thanks to our AUG members.

.dashboard-container-narrow
  .row
    - @users.order(:first_name, :last_name).each do |user|
      .col-sm-6.col-buffer.center= user.name

.center
  = link_to "Team", team_path
  &middot;
  = link_to "Past Contributors", contributors_path
