- @title = 'Academic User Group'

- content_for :body_class do
  brand-background

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

%p.lead.center
  The NSRR team is thrilled to have the support and guidance of the diverse
  Academic User Group.

.center
  - @users.order(:first_name, :last_name).each do |user|
    %p= user.name
