- @title = "Data Sharing Language"

- render "themes/theme"
- @footer = "dark"

.page-box.last-box.d-flex.align-items-center.theme-bg{ class: "theme-#{@theme}-focus-bg" }
  .container.d-flex.flex-column.align-items-center
    .dashboard-container{ style: "max-width: 40rem;" }
      .about-header
        The National Sleep
        %br.d-inline.d-md-none
        Research Resource
        %br
        %small= @title

      .about-section
        %p
          We will share data as described in the NIH Policy for subjects studied in
          this protocol, in accordance with the final guidelines of the individual
          IRB reviews of this application. We will share all study forms, manuals, and
          instruments with the scientific community, including the study protocol,
          manual of operations, training manuals, questionnaires and abstraction
          forms. We will also share study data through NHLBI's BioLINCC Clinical Data
          Repository (https://biolincc.nhlbi.nih.gov/home/), and through the National
          Sleep Research Resource (NSRR; sleepdata.org), an NHLBI-funded web-based
          resource of sleep studies from major cohort studies and clinical trials,
          linked to covariate data, signal processing tools, and query tools. Using
          these repositories, we will plan to deposit de-identified study data (PHI
          compliant) and associated study documentation. The shared data are
          anticipated to include information on study outcomes and risk factors. Both
          derived and summary variables will be provided. Data will be shared for all
          study participants other than for participants who have not provided
          informed consent for sharing data. Similarly, we will share deidentifed
          polysomnograms and actigraphy studies (raw signal data), as well as the
          results of quantitative signal processing of the EEG and ECG, using the NSRR
          repository (sleepdata.org). This powerful data sharing mechanism is a robust
          platform designed to facilitate sharing of sleep data with the scientific
          community, allowing cross-cohort queries to be conducted, and allowing
          investigators to download physiological signal data linked to study
          covariate data.
