- @title = "Data Sharing Language for Consent Forms"

- render "themes/theme"
- @footer = "dark"

.page-box.last-box.d-flex.align-items-center.theme-bg{ class: "theme-#{@theme}-focus-bg" }
  .container.d-flex.flex-column.align-items-center
    .dashboard-container{ style: "max-width: 40rem;" }
      .about-header
        The National Sleep
        %br.d-inline.d-md-none
        Research Resource
        %br
        %small= @title

      .about-section
        .bg-light.p-3.border.mb-3.text-muted
          %strong
            How may we use and share your samples and health information for
            other research?
        %p
          The National Institutes of Health is sponsoring this research. The
          samples and information we collect in this study may help advance
          other research. If you join this study, we may remove all information
          that identifies you (for example, your name, medical record number,
          and date of birth) and use these de-identified samples and data in
          other research. Information and/or samples may be shared with
          investigators at our hospitals, at other academic institutions or at
          for-profit, commercial entities. We may share study data that has no
          identifiable information through the National Heart, Lung, and Blood
          Institute (NHLBI)'s BioLINCC Clinical Data Repository and the National
          Sleep Research Resource, two research data repositories. The research
          data will allow investigators to further study sleep and related
          health measures, behavior, and physiology. It won't be possible to
          link the information or samples back to you. You will not be asked to
          provide additional informed consent for these uses.
