- @title = "FAIR Guiding Principles on the NSRR"
- @keywords = "findable, accessible, interoperable, re-usable, data, research data, fair principle"

.about-header= @title

.about-section
  %p
    The NSRR has been designed from the ground up to adhere to the
    = link_to "FAIR Guiding Principles", "https://www.nature.com/articles/sdata201618"
    to optimize scientific data management and stewardship. The NSRR strives to
    make the data that it hosts findable, accessible, interoperable, and
    re-usable by adhering to the following FAIR principles.

  %p
    %strong Findable:

  %ul.list-unstyled.text-left.pl-3
    %li F1. (meta)data are assigned a globally unique and eternally persistent identifier.
    %li F2. data are described with rich metadata.
    %li F3. (meta)data are registered or indexed in a searchable resource.
    %li F4. metadata specify the data identifier.

  %p
    %strong Accessible:

  %ul.list-unstyled.text-left.pl-3
    %li A1. (meta)data are retrievable by their identifier using a standardized communications protocol.
    %li A1.1 the protocol is open, free, and universally implementable.
    %li A1.2 the protocol allows for an authentication and authorization procedure, where necessary.
    %li A2. metadata are accessible, even when the data are no longer available.

  %p
    %strong Interoperable:

  %ul.list-unstyled.text-left.pl-3
    %li I1. (meta)data use a formal, accessible, shared, and broadly applicable language for knowledge representation.
    %li I2. (meta)data use vocabularies that follow FAIR principles.
    %li I3. (meta)data include qualified references to other (meta)data.

  %p
    %strong Re-usable:

  %ul.list-unstyled.text-left.pl-3
    %li R1. (meta)data have a plurality of accurate and relevant attributes.
    %li R1.1. (meta)data are released with a clear and accessible data usage license.
    %li R1.2. (meta)data are associated with their provenance.
    %li R1.3. (meta)data meet domain-relevant community standards.

  %p.small.text-muted * (meta)data refers to both metadata and data.
