.background-fixed-image.background-fixed-image-fixed-height
  .color-overlay.center-both{ style: "height: 100%;" }
    .container
      .text-center.text-white
        %h1{ style: "font-weight: 300; font-size: 3rem;" } National Sleep Research Resource
        %p.lead.mb-0{ style: "font-weight: 300; font-size: 1.5rem;" } Free research data and tools.

#top-menu= render "layouts/menu"

.page-box.last-box.background-p50-grey
  .container
    %h3.text-center What interests you?
    = render "external/what_interests_you"

  .container
    %h3{ style: "font-weight: bold" } News
    = render "blog/landing_blog"
