.background-fixed-image.background-fixed-image-fixed-height
  .color-overlay.center-both{ style: "height: 100%;" }
    .container
      .text-center.text-white
        %h1{ style: "font-weight: 300; font-size: 3rem;" } National Sleep Research Resource
        %p.lead.mb-0{ style: "font-weight: 300; font-size: 1.5rem;" } Free research data and tools.

#top-menu= render "layouts/menu"

.page-box{ style: "background-color: red;" }
  .container
    %h1.display-3 Long Heading

    %p
      landing2.html.haml

.page-box.last-box{ style: "background-color: purple;" }
  .container
    %h1.display-3 Long Heading

    %p
      landing2.html.haml
