- @title = "Forum Voting"

- content_for :header_simple, @title

%p.text-center
  Help promote content on the NSRR forum by following these guidelines for voting.

.voting-container
  .dashboard-container
    %p
      %strong
        When to Upvote
        %i.fa.fa-arrow-up.text-success

    %p
      Upvote replies that are:

      %ul
        %li On Topic
        %li Constructive
        %li Informative

  .dashboard-container
    %p
      %strong
        When to Downvote
        %i.fa.fa-arrow-down.text-danger

    %p
      Downvote replies that are:

      %ul
        %li Hurtful
        %li Off Topic
        %li Spam
        %li Contain Misinformation
        %li Product Advertisement

    %p
      %strong DO NOT
      downvote simply because you disagree.
