- @title = "Forum Voting"

- content_for :header, @title

%p.text-center
  Help promote content on the NSRR forum by following these guidelines for voting.

.voting-container
  .dashboard-container
    %p
      %strong
        = icon("fas", "arrow-up", class: "text-success")
        When to Upvote

    %p
      Upvote replies that are:

      %ul
        %li On Topic
        %li Constructive
        %li Informative

  .dashboard-container
    %p
      %strong
        = icon("fas", "arrow-down", class: "text-danger")
        When to Downvote

    %p
      Downvote replies that are:

      %ul
        %li Hurtful
        %li Off Topic
        %li Spam
        %li Contain Misinformation
        %li Product Advertisement

    %p
      %strong DO NOT
      downvote simply because you disagree.
