- if !current_user && just_voted
  %small= link_to "Login to vote", new_user_session_path
- else
  .vote-info
    .vote-expanded-info
      %small
        Was this reply useful?
        = link_to "Learn more...", voting_path

    - vote = reply.vote(current_user)

    - if vote == true
      - icon_display = icon("fas", "arrow-up", class: just_voted ? "just-voted" : nil)
      - klass = "text-success"
      - change_to = "clear"
    - else
      - icon_display = icon("fas", "arrow-up")
      - klass = "text-muted"
      - change_to = "up"

    = link_to icon_display, vote_reply_path(reply, vote: change_to), method: :post, remote: true, style: "text-decoration:none;outline:none", class: klass, tabindex: "-1"

    &nbsp;

    - if vote == false
      - icon_display = icon("fas", "arrow-down", class: just_voted ? "just-voted" : nil)
      - klass = "text-danger"
      - change_to = "clear"
    - else
      - icon_display = icon("fas", "arrow-down")
      - klass = "text-muted"
      - change_to = "down"

    = link_to icon_display, vote_reply_path(reply, vote: change_to), method: :post, remote: true, style: "text-decoration:none;outline:none", class: klass, tabindex: "-1"
