<%= render partial: 'email_header' %>

<b>Dear <%= @agreement.user.first_name %>,</b><br />
<br />
Your Data Access and Use Agreement submission has been <span style="padding:5px;background-color:#5cb85c;color:white">approved</span>.<br />
<br />
You can now start exploring available data here:<br />
<br />
<center><%= link_to "#{ENV['website_url']}/datasets", "#{ENV['website_url']}/datasets", style: "color: #428bca" %></center><br />
<br />
You can reply directly to this email if you have any questions.<br />

<%= render partial: 'email_footer' %>
