.content-container
  %h1 My Personal Dashboard

  %p
    Welcome to your personal dashboard! From here you can view and manage your
    dataset requests and download files, contribute new tools for research, and
    announce your publications to the NSRR community.

  %p
    If you need any help, you may send us an email at
    = succeed '.' do
      = mail_to 'support@sleepdata.org'
    Thanks for being part of our growing community!

.content-container
  %h2 My Datasets

  %h2 My Tool Contributions

  %h2 My Publications

  %h2 My Forum Posts

  %h2 Notifications for Me

  - if current_user.community_manager?
    %h2 Blog Posts
    = link_to 'Blog', broadcasts_path
