- @title = "Token"

.token-container
  %h1 Token
  %code.code-token>
    = current_user.id_and_auth_token
  %code.code-copy
    = link_to "#", data: { object: "suppress-click", clipboard_text: current_user.id_and_auth_token, placement: "bottom", container: "body", title: "Copied!", trigger: "manual" } do
      %i.fa.fa-clipboard
