- @title = 'Token'

- content_for :body_class do
  brand-background

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        My Token

.token-container
  %code.code-token>
    = current_user.id_and_auth_token
  %code.code-copy
    = link_to '#', data: { object: 'suppress-click', clipboard_text: current_user.id_and_auth_token, placement: 'bottom', container: 'body', title: 'Copied!', trigger: 'manual' } do
      %span.glyphicon.glyphicon-copy
