- @title = 'Token'

- content_for :body_class do
  brand-background

- content_for :banner do
  .call-to-action
    .call-to-action-header.brand
      My
      = @title
    .call-to-action-body
      %code.code-dark{ style: 'border-radius: 4px 0 0 4px;' }>
        = current_user.id_and_auth_token
      %code{ style: 'border-radius: 0 4px 4px 0;' }
        = link_to '#', data: { object: 'suppress-click', clipboard_text: current_user.id_and_auth_token, placement: 'bottom', container: 'body', title: 'Copied!', trigger: 'manual' }, style: 'text-decoration: none' do
          %span.glyphicon.glyphicon-copy
