.col-12.col-md-3.col-xl-2.sidebar-wrapper{ style: "background-color: transparent;" }
  .sidebar
    #sidebar-nav-wrapper.sidebar-nav-wrapper.collapse{ style: "background-color: transparent;" }
      .pt-3.mx-3.my-0.ml-md-3.mb-md-3.mr-md-0
        %ul.sidebar-menu.sidebar-menu-shadow
          %li.sidebar-menu-header Editor
          %li= link_to "Settings", settings_organization_path(@organization), class: current_page?(settings_organization_path(@organization)) ? "active" : nil
          %li= link_to "Legal documents", [@organization, :legal_documents], class: params[:controller] == "legal_documents" ? "active" : nil
          %li= link_to "Legal document datasets", [@organization, :legal_document_datasets], class: params[:controller] == "legal_document_datasets" ? "active" : nil
