- arrow = false
- approved = false
- under_review = false
- if dataset.release_date && dataset.release_date <= Time.zone.today
  - agreements = (current_user ? dataset.agreements.where(user_id: current_user.id) : Agreement.none)
  -# TODO: Don't force DAUA if no legal document is available (instead encourage exploration)
  - if agreement = agreements.find_by(status: "approved")
    - title = "DAUA Approved"
    - url = files_dataset_path(dataset)
    - approved = true
  - elsif agreement = agreements.find_by(status: "submitted")
    - title = "DAUA Under Review"
    - url = submissions_path
    - under_review = true
  - elsif agreement = agreements.find_by(status: "resubmit")
    - title = "Resubmit Data Request"
    - url = submissions_path
    - arrow = true
  - elsif agreement = agreements.expired.first
    - title = "Renew DAUA"
    - url = submissions_start_path(dataset: dataset)
    - arrow = true
  - elsif agreement = agreements.find_by(status: "started")
    -# TODO: Fix URLs
    - title = "Resume Data Request"
    - if agreement.fully_filled_out?
      - url = proof_agreement_path(agreement)
    - else
      - url = step_agreement_path(agreement, step: agreement.current_step)
    - url = agreement_start_path(dataset_id: dataset)
    - arrow = true
  - else
    - title = "Request Data"
    - url = submissions_start_path(dataset: dataset)
    - arrow = true
- elsif dataset.release_date
  - title = "Coming #{dataset.release_date.strftime("%b %e, %Y")}"
  - url = dataset
- else
  - title = "Preview"
  - url = dataset

- if approved
  %i.fa.fa-check-circle.text-success.d-inline-block.d-sm-none
- if under_review
  %i.fa.fa-comments-o.text-muted.d-inline-block.d-sm-none
= link_to url do
  = title
  - if arrow
    %i.fa.fa-caret-right
- if approved
  %i.fa.fa-check-circle.text-success.d-none.d-sm-inline-block
- if under_review
  %i.fa.fa-comments-o.text-muted.d-none.d-sm-inline-block

-# TODO: Remove
- if false
  - if dataset.organization && !dataset.legal_documents.published.count.zero?
    = link_to agreement_start_path(dataset_id: dataset) do
      START
      %i.fa.fa-caret-right
