- @current_folder = @dataset.find_file_folder(params[:path])
- @local_folder = [@dataset.slug, @current_folder].compact.join("/").gsub(/\/$/, "")

.code-container
  %span.code-command-blank
    = link_to "#", data: { object: "suppress-click", clipboard_text: "nsrr download #{@local_folder}", placement: "bottom", container: "body", title: "Copied!", trigger: "manual" }, style: "text-decoration: none" do
      %i.fa.fa-clipboard
    nsrr download
    = @local_folder

-# TODO: Fix code jumbotron.
.jumbotron
  %p
    %strong Don't have the NSRR gem?
  .call-to-action-body
    Install using our
    = link_to "https://github.com/nsrr/nsrr-gem/blob/master/README.md#prerequisites", class: "btn btn-primary btn-sm btn-shadow" do
      .d-none.d-sm-inline-block NSRR Gem
      Installation Instructions
