- @current_folder = @dataset.find_file_folder(params[:path])
- @local_folder = [@dataset.slug, @current_folder].compact.join('/')

.code-container
  %span.code-command
    nsrr download
    = @local_folder


- content_for :call_to_action do
  .call-to-action
    .call-to-action-body
      %strong Don't have the NSRR gem?
      Install using our
    .call-to-action-body
      = link_to 'https://github.com/nsrr/nsrr-gem/blob/master/README.md#prerequisites', target: '_blank', class: 'btn btn-lg btn-call-to-action' do
        %span.hidden-xs NSRR Gem
        Installation Instructions
