.background-p100-grey.pt-5.pb-4
  .container
    .d-flex.flex-column.flex-md-row.align-items-md-center.text-center.text-md-left{ style: "font-size: 1.25rem;" }
      - if dataset.logo.present?
        .mb-3.mb-md-0.mr-md-4= image_tag logo_dataset_path(dataset), class: "img-fluid img-ignore-selection", style: "max-width: 200px;"
      .font-weight-light
        %div National Sleep Research Resource
        %div= dataset.name
        - if dataset.doi.present?
          %div
            - doi_url = "https://doi.org/#{dataset.doi}"
            = link_to doi_url, doi_url
