= link_to dataset, rel: "tooltip", title: dataset.name, data: { container: "body", placement: "top" }, style: "text-decoration: none;", class: "small" do
  = image_tag logo_dataset_path(dataset), style: "max-width:100%;max-height:20px", alt: dataset.slug
