<% if ['.md','.markdown'].include?(File.extname(page_path)) %>
  <div class="file-display">
    <div class="file-display-after"><%= path.to_s.split('/').last %></div>
    <%= highlight(simple_markdown( File.read(page_path), false, 'table table-striped table-hover' ), @term, sanitize: false) %>
  </div>
<% else %>
  <div class="mono-display"><div class="file-display-after"><%= path.to_s.split('/').last %></div><%= highlight(File.read(page_path), @term, sanitize: false) %></div>
<% end %>
