- if current_user && @dataset.editors.pluck(:id).include?(current_user.id)
  %ul.pagination.pagination-sm.m-0
    - if @dataset.current_folder_locked?(path)
      %li.page-item
        = link_to reset_index_dataset_path(@dataset, path: path), method: :post, data: { confirm: "Are you sure the process has stalled?" }, class: "page-link" do
          %i.fa.fa-refresh
          Refresh
      %li.page-item.disabled{ data: { object: "ajax-timer", path: folder_progress_dataset_path(@dataset, path: path) } }
        = link_to "#", data: { object: "suppress-click" }, class: "page-link" do
          %i.fa.fa-refresh.fa-spin
          Indexing...

    - else
      %li.page-item
        = link_to reset_index_dataset_path(@dataset, path: path), method: :post, class: "page-link" do
          %i.fa.fa-refresh
          Refresh
      %li.page-item
        = link_to reset_index_dataset_path(@dataset, path: path, recompute: "1"), method: :post, data: { confirm: "Are you sure you want to completely reset this folder index?" }, class: "page-link" do
          %i.fa.fa-bolt
          Reset All
