- @title = "Edit Dataset: #{@dataset.name_was}"

- content_for :banner do
  .banner
    .container
      .banner-header.brand
        = link_to 'Datasets', datasets_path
        &middot;
        = link_to @dataset.name_was, @dataset
        &middot;
        Edit

= render 'form'
