- @title = "#{@dataset.slug.upcase} Files"

- content_for :header, @dataset.name_was
- content_for :header_append, render("datasets/header")

- if current_page?([:files, @dataset])
  - content_for :header_append do
    .d-flex.justify-content-center.data-request-tab-sticky
      .data-request-tab-background
        = render "datasets/request", dataset: @dataset

- path = params[:path]
- page = [params[:page].to_i - 1, 0].max

- content_for :breadcrumbs do
  #breadcrumb= render "datasets/files_breadcrumb", path: path, page: page, file_count: @dataset_files.total_count

#folder= render "dataset_files/folder", path: path
