<div class="page-header">
  <h1>
    <%= @dataset.name %>
    <%= link_to images_dataset_path(@dataset, path: @image_file), class: 'btn btn-success' do %>
      <span class="glyphicon glyphicon-link"></span>
      <%= File.basename(@image_file) %>
    <% end %>
  </h1>

</div>

<%= image_tag images_dataset_path(@dataset, path: @image_file), style: 'max-width:100%' %>
