- @title = 'Datasets'

%h1
  = @title
  - if current_user && current_user.system_admin?
    = link_to 'Create Dataset', new_dataset_path, class: 'btn btn-xs btn-primary'
%p
  Read documentation, download files, and view charts and statistics.

.content-container
  = render 'datasets/datasets'
