- @title = @dataset.name
= render "datasets/header"

- content_for :header_append do
  - if @dataset.info_present?
    .header-container.pt-0
      .container
        = render "datasets/quick_info", dataset: @dataset
  .d-flex.justify-content-center.data-request-tab-sticky
    .data-request-tab-background
      = render "datasets/request", dataset: @dataset

= render "documentation/page", object: @dataset
