- @title = @dataset.name
= render 'datasets/header'

- if @dataset.info_count > 0
  - content_for :header do
    .header-container{ style: 'padding: 0;' }
      .container
        .row
          .col-md-9
            = render 'datasets/quick_info', dataset: @dataset
          .col-md-3
            .info-container
              = render 'datasets/request', dataset: @dataset, expanded: true

= render 'documentation/page', object: @dataset
