This Data Access and Use Agreement
= surround '(the ', ')' do
  %strong "DAUA"
is made by and between The Brigham and Women's Hospital, Inc., through its
Division of Sleep and Circadian Disorders
= surround '(', ')' do
  %strong "BWH"
and
