- bg_class = "data-request-approved-bg"
- if data_request.resubmitted?
  - bg_class = "data-request-resubmitted-to-approved-bg"

.col-12.col-md.text-center.mb-3.mb-md-0
  .d-none.d-md-block.data-request-timeline{ class: bg_class, style: "left: 0;right: 50%;" }
  .d-block.data-request-timeline-icon.data-request-timeline-icon-approved
    = icon("fas", "check-circle")
  %br
  %strong Approved
  .text-muted.small= data_request.approval_date.strftime("%-d %b %Y")
