- bg_class = "data-request-under-review-bg"
.col-12.col-md.text-center
  .d-none.d-md-block.data-request-timeline{ class: bg_class, style: "left: 0;right: 50%;" }
  .d-block.data-request-timeline-icon
    %i.fa.fa-exclamation-triangle.text-danger
  %br
  %strong Please Resubmit
