- bg_class = "data-request-under-review-bg"
.col-12.col-md.text-center.mb-3.mb-md-0
  .d-none.d-md-block.data-request-timeline{ class: bg_class, style: "left: 0;right: 50%;" }
  .d-block.data-request-timeline-icon.data-request-timeline-icon-resubmit
    %i.fa.fa-exclamation-triangle
  %br
  %strong Please Resubmit
