- bg_class = "data-request-submitted-to-resubmit-to-under-review-bg"
- if data_request.approved?
  - bg_class = "data-request-submitted-to-resubmit-to-approved-bg"

- if data_request.resubmitted_at
  .col-12.col-md.text-center
    .d-none.d-md-block.data-request-timeline{ class: bg_class, style: "left: 0;right: 0;" }
    .d-block.data-request-timeline-icon
      %i.fa.fa-cloud-upload.text-danger
    %br
    Resubmitted
    .text-muted.small= data_request.resubmitted_at.strftime("%-d %b %Y")
