- bg_class = "data-request-submitted-to-under-review-bg"
- if data_request.resubmitted?
  - bg_class = "data-request-submitted-to-resubmit-bg"
- elsif data_request.approved?
  - bg_class = "data-request-submitted-to-approved-bg"
.col-12.col-md.text-center.mb-3.mb-md-0
  .d-none.d-md-block.data-request-timeline{ class: bg_class, style: "left: 50%;right: 0;" }
  .d-block.data-request-timeline-icon
    = icon("fas", "circle", class: "text-primary")
  %br
  Submitted
  .text-muted.small= data_request.submitted_at.strftime("%-d %b %Y")
