.dashboard-container
  .dashboard-title
    %strong Datasets
    &middot;
    %small= link_to 'View All', datasets_path
  - current_user.all_viewable_datasets.order(:release_date, :name).each do |d|
    %table.table-fixed{ style: 'width: 100%;' }
      %tr
        %td{ style: 'padding:4px' }= d.slug.upcase
        %td{ style: 'padding:4px' }= render 'datasets/request', dataset: d, expanded: false
