%table.table.table-borderless
  %tr
    %td
      %p
        Write inline
        = succeed '.' do
          %code code
    %td
      %p
        Write inline `code`.

  %tr
    %td
      %p
        %pre
          \# Write code block
          def add(a,b)
          &nbsp;&nbsp;return a+b
          end
    %td
      %p

        ```
        %br
        \# Write code block
        %br
        def add(a,b)
        %br
        &nbsp;&nbsp;return a+b
        %br
        end
        %br
        ```

  %tr
    %td
      %p
        %mark Highlight
        text.
    %td
      %p
        \==Highlight== text.

  %tr
    %td
      %p
        The 2<sup>nd</sup> time.
    %td
      %p
        The 2^(nd) time.


  %tr
    %td
      %blockquote Quoted text.
    %td
      %p
        > Quoted text.

  %tr
    %td
      %p
        Text <u>underline</u>.
    %td
      %p
        Text _underline_.


  %tr
    %td
      %p
        Text <del>removed</del>.
    %td
      %p
        Text ~~removed~~.

  %tr
    %td
      %ul
        %li Item 1
        %li Item 2
        %li Item 3
    %td
      %p
        \- Item 1
        %br
        \- Item 2
        %br
        \- Item 3

= link_to 'View More Markup', markup_topics_path, target: '_blank'
