<table class="table table-striped"><col width="1px"/>
  <thead>
    <tr>
      <th></th>
      <th>Topic</th>
      <th>Author</th>
    </tr>
  </thead>

  <% @topics.each do |topic| %>
    <tr class="<%= 'warning' if topic.stickied? %>">
      <td>
        <% if topic.stickied? %>
          <span class="glyphicon glyphicon-pushpin"></span>
        <% elsif topic.locked? %>
          <span class="glyphicon glyphicon-lock"></span>
        <% end %>
      </td>
      <td><%= link_to topic.name, topic %></td>
      <td><%= topic.user.name %></td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @topics, theme: 'contour' %></div>
