- @title = "Edit Topic: #{@topic.title_was}"

- content_for :banner do
  .banner
    .container
      .banner-header.brand
        = link_to @topic.title_was, @topic
        &middot;
        Edit

= render 'form'
