- @title = "Edit Topic: #{@topic.title_was}"

- content_for :header, @topic.title_was
- content_for :breadcrumbs do
  %ol
    %li= link_to @topic.title_was, @topic
    %li Edit

= render "topics/form", topic: @topic
