- @title = "Sync Status"

= render "internal/profile_header", title: @title

- Dataset.current.order(:name).each do |dataset|
  = render "documentation/sync", local_commit: dataset.local_commit, remote_commit: dataset.remote_commit, object: dataset, back: "sync"
