.star-ratings.nowrap.d-none.d-sm-inline-block
  - if rating
    - (0..4).each do |position|
      - if rating > position + 0.5
        - icon_class = 'fa-star text-warning'
      - elsif rating > position
        - icon_class = 'fa-star-half-o text-warning'
      - else
        - icon_class = 'fa-star-o text-muted'
      .star-rating
        %i.fa{ class: icon_class, aria: { hidden: 'true' } }
  - else
    - (0..4).each do |position|
      .star-rating
        %i.fa.fa-star-o.text-muted{ aria: { hidden: 'true' } }
.star-ratings.d-inline-block.d-sm-none
  - if rating
    .star-rating
      = rating.round(1)
      %i.fa.fa-star.text-warning{ aria: { hidden: 'true' } }
  - else
    .star-rating
      %i.fa.fa-star-o.text-muted{ aria: { hidden: 'true' } }
