- @title = "New Tool"

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title
  .breadcrumb-container.mb-0.p-2
    .container
      %ol
        %li= link_to "Tools", community_tools_path
        %li New

= render "community_tools/form", community_tool: @community_tool
