- @title = "Edit User: #{@user.username_was}"

- render "themes/theme"
- content_for :header do
  = link_to @user.username_was, @user
  Edit
= render "internal/tabs"
- content_for :sidebar, render("admin/sidebar")

.dashboard-container= render "form", user: @user
