.user-panel {
  background-color: $brand-white;
  border: 1px solid $brand-gray;
  box-shadow: 0 1px 2px $brand-shadow;
  margin: 40px auto 20px;
  min-height: 140px;
  padding: 20px 20px 10px;

  h4 {
    margin-bottom: 20px;
    margin-top: 0;
  }
}
