.award {
  background-color: $brand-black;
  border-radius: 6px;
  display: inline-block;
  padding: 6px;
}

.award-gold {
  background-color: $gold;
}

.award-silver {
  background-color: $silver;
}

.award-bronze {
  background-color: $bronze;
}
