// Code Colors
$codeblock-bg: #2b2b2b;
$codeblock-gray: #dedede;
$codeblock-string: #a5c261;
$codeblock-string-escaped: #519f50;
$codeblock-comment: #bc9458;
$codeblock-link: #6d9cbe;
$codeblock-keyword: #cc7833;
$codeblock-function: #e8bf6a;
$codeblock-constant: #6d9cbe;
$codeblock-variable-other: #d0d0ff;

.codeblocks-container {
  border-radius: 5px;
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  font-weight: 200;
  line-height: 2;
  margin-bottom: 20px;
  white-space: normal;

  code::before {
    color: $codeblock-gray;
    content: '$ ';
  }
}

.code-input code,
.code-input-file,
.code-output {
  border: 1px solid $codeblock-gray;
  padding: 3px 7px;
}

.code-input code {
  background-color: $brand-white;
  color: $brand-black;
}

.code-output,
.code-input-file {
  background-color: $codeblock-bg;
  color: $brand-white;
}


@media screen and (min-width: 768px) {
  .code-output {
    margin-left: 30vw;
  }
}

.code-string {
  color: $codeblock-string;
}

.code-link {
  color: $codeblock-link;
  text-decoration: underline;
}

.code-comment {
  color: $codeblock-comment;
  font-style: italic;
}

.code-function {
  color: $codeblock-function;
  font-weight: bold;
}

.code-keyword {
  color: $codeblock-keyword;
}

.code-string,
.code-number {
  color: $codeblock-string;
}

.code-green,
.code-string-escaped {
  color: $codeblock-string-escaped;
}

.code-symbol {
  color: $codeblock-constant;
}

.code-block-iterator {
  color: $codeblock-variable-other;
}
