.dashboard-container,
.profile-bottom {
  background-color: $brand-white;
  border: 1px solid $brand-gray;
}

.dashboard-container {
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;

  p:last-child {
    margin-bottom: 0;
  }
}

.dashboard-title {
  margin-bottom: 10px;
}

.dashboard-notification {
  background-color: $brand-warning;
  border-color: darken($brand-warning, 20%);
  // color: $brand-warning-text;
}

.profile-container {
  margin-bottom: 20px;
}

.profile-top {
  background-color: $brand-black;
  height: 150px;
  position: relative;
  border-radius: 4px 4px 0 0;
  border: 1px solid $brand-black;
  border-bottom-width: 0;
}

.profile-image-container {
  text-align: center;
  position: absolute;
  bottom: -50px;
  width: 100%;
}

.profile-image {
  background-color: $brand-white;
  border-radius: 50px;
  border: 2px solid $brand-white;
}

.profile-bottom {
  border-top-width: 0;
  border-radius: 0 0 4px 4px;
  padding: 50px 20px 20px 20px;
}
