.dashboard-container,
.profile-bottom {
  background-color: $brand-white;
  border: 1px solid $brand-gray;
}

.dashboard-container {
  @include remove-last-child-bottom-margin;

  border-radius: 4px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 20px;

  &.box-shadow {
    border: 0;
  }

  .broadcast {
    margin-bottom: 0;

    img {
      border: 0;
      max-height: 200px;
    }
  }
}

.dashboard-title {
  margin-bottom: 10px;
}

.dashboard-link {
  margin-bottom: 20px;
  text-align: center;
}

.dashboard-notification {
  background-color: $brand-warning;
  border-color: darken($brand-warning, 20%);
}

.profile-container {
  margin-bottom: 20px;
}

.profile-top {
  background-color: $brand-black;
  border: 1px solid $brand-black;
  border-bottom-width: 0;
  border-radius: 4px 4px 0 0;
  height: 150px;
  position: relative;
}

.profile-image-container {
  bottom: -50px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.profile-image {
  background-color: $brand-white;
  border: 2px solid $brand-white;
  border-radius: 50px;
}

.profile-bottom {
  border-radius: 0 0 4px 4px;
  border-top-width: 0;
  padding: 50px 20px 20px;
}

.profile-breadcrumb {
  background-color: $brand-white;
  border-bottom: 1px solid $brand-gray;
  border-left: 1px solid $brand-gray;
  border-radius: 0 0 4px 4px;
  border-right: 1px solid $brand-gray;
  margin-bottom: 20px;
  margin-top: -20px;
  padding: 10px 20px;
}
