.dashboard-container {
  @include remove-last-child-bottom-margin;
  @include scale-images;

  background-color: $dashboard-bg;
  border-radius: 4px;
  box-shadow: 0 1px 5px $box-shadow-color;
  color: $text-color;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;

  > div,
  > table {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .broadcast {
    margin-bottom: 0;
  }
}

.dashboard-title {
  margin-bottom: 10px;
}

.dashboard-link {
  margin-bottom: 20px;
  text-align: center;
}

// TODO: Restyled dashboard notification
// .dashboard-notification {
//   background-color: $brand-warning;
//   border-color: darken($brand-warning, 20%);
// }

.profile-bottom {
  background-color: $brand-white;
  border: 1px solid $p400-grey;
}

.profile-container {
  margin-bottom: 20px;
}

.profile-top {
  background-color: $brand-black;
  border: 1px solid $brand-black;
  border-bottom-width: 0;
  border-radius: 4px 4px 0 0;
  height: 150px;
  position: relative;
}

.profile-image-container {
  bottom: -50px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.profile-image {
  background-color: $brand-white;
  border: 2px solid $brand-white;
  border-radius: 50px;
}

.profile-bottom {
  border-radius: 0 0 4px 4px;
  border-top-width: 0;
  padding: 50px 20px 20px;
}

.profile-breadcrumb {
  background-color: $brand-white;
  border-bottom: 1px solid $p400-grey;
  border-left: 1px solid $p400-grey;
  border-radius: 0 0 4px 4px;
  border-right: 1px solid $p400-grey;
  margin-bottom: 20px;
  margin-top: -20px;
  padding: 10px 20px;
}

.dashboard-container-narrow {
  @include remove-last-child-bottom-margin;

  background-color: $brand-white;
  box-shadow: 0 1px 5px $box-shadow-color;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 64rem;
  padding: 20px;
  line-height: 1.5em;
}

.dashboard-container-title {
  font-weight: bold;
  margin-bottom: 10px;
}
