.data-request-tab-sticky {
  position: sticky;
  top: $header-height;
  z-index: $zindex-sticky;
  background-color: $p100-grey;
}

.data-request-tab-background {
  @include media-breakpoint-up(sm) {
    margin-bottom: -40px;
  }
}

.data-request-tab {
  background-color: $p500-green;
  border-radius: 0 0 $border-radius $border-radius;
  color: $brand-white;
  display: block;
  padding-left: $spacer; // ($spacer * .5);
  padding-right: $spacer; // ($spacer * .5);
  padding-top: ($spacer * .5);
  padding-bottom: ($spacer * .5);
  // transition: transform 250ms ease-out;
  box-shadow: 0 5px 10px 0 $box-shadow-color;

  &.data-request-tab-approved {
    background-color: $p500-green;
  }

  &.data-request-tab-submitted {
    background-color: $p500-blue;
  }

  &.data-request-tab-resubmit {
    background-color: $p500-red;
  }

  &.data-request-tab-expired {
    background-color: $p500-grey;
  }

  &.data-request-tab-started {
    background-color: $p500-blue;
  }

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    color: $brand-white;
    text-decoration: none;
  }
}

$data-request-submitted: $p500-blue;
$data-request-resubmit: $p500-red;
$data-request-resubmitted: $p500-blue;
$data-request-under-review: $p500-grey;
$data-request-approved: $p500-green;
$data-request-approved-expired: $p500-blue;

.data-request-timeline {
  position: absolute;
  top: 11px;
  height: 2px;
}

.data-request-timeline-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;

  i {
    background-color: $brand-white;
    border-radius: 1rem;
  }
}

.data-request-timeline-icon-resubmit {
  i {
    color: $data-request-resubmit;
  }
}

.data-request-timeline-icon-resubmitted {
  i {
    color: $data-request-resubmitted;
  }
}

.data-request-timeline-icon-under-review,
.data-request-timeline-icon-expired {
  i {
    color: $data-request-under-review;
  }
}

.data-request-timeline-icon-approved {
  i {
    color: $data-request-approved;
  }
}

.data-request-timeline-icon-approved-expired {
  i {
    color: $data-request-approved-expired;
  }
}

.data-request-submitted-to-under-review-bg {
  background-color: $data-request-submitted;
  background-image: linear-gradient(to right, #{$data-request-submitted} 0%, #{$data-request-under-review} 200%);
}

.data-request-submitted-to-approved-bg {
  background-color: $data-request-submitted;
  background-image: linear-gradient(to right, #{$data-request-submitted} 0%, #{$data-request-approved} 200%);

}

.data-request-under-review-bg,
.data-request-expired-bg {
  background-color: $data-request-under-review;
  background-image: linear-gradient(to right, #{$data-request-submitted} -100%, #{$data-request-under-review} 100%);
}

.data-request-approved-bg {
  background-color: $data-request-approved;
  background-image: linear-gradient(to right, #{$data-request-submitted} -100%, #{$data-request-approved} 100%);
}

// With Resubmits

.data-request-submitted-to-resubmit-bg {
  background-color: $data-request-submitted;
  background-image: linear-gradient(to right, #{$data-request-submitted} 0%, #{$data-request-resubmitted} 200%);
}

.data-request-submitted-to-resubmit-to-under-review-bg,
.data-request-submitted-to-approved-to-expired-bg,
.data-request-resubmitted-to-approved-to-expired-bg {
  background-color: $data-request-resubmitted;
  background-image: linear-gradient(to right, #{$data-request-submitted} -50%, #{$data-request-resubmitted} 50%, #{$data-request-under-review} 150%);
}

.data-request-submitted-to-resubmit-to-approved-bg {
  background-color: $data-request-resubmitted;
  background-image: linear-gradient(to right, #{$data-request-submitted} -50%, #{$data-request-resubmitted} 50%, #{$data-request-approved} 150%);
}

.data-request-resubmitted-to-under-review-bg,
.data-request-resubmitted-to-expired-bg {
  background-color: $data-request-under-review;
  background-image: linear-gradient(to right, #{$data-request-resubmitted} -100%, #{$data-request-under-review} 100%);
}

.data-request-resubmitted-to-approved-bg {
  background-color: $data-request-approved;
  background-image: linear-gradient(to right, #{$data-request-resubmitted} -100%, #{$data-request-approved} 100%);
}

.data-request-review-columns {
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }

  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
}

.data-request-review-card {
  border: 0;
  background-color: $p50-grey;

  .card-header {
    border: 0;
  }
}

.noscroll {
  overflow: hidden;
}

@keyframes opacityin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.data-request-fullscreen-backdrop {
  animation: opacityin 250ms;
  background-color: rgba(0, 0, 0, .75);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $zindex-modal;

  .data-request-fullscreen-content {
    margin: $spacer auto;
    max-height: calc(100vh - #{$spacer * 2});
    width: 100%;

    @each $breakpoint in map-keys($container-max-widths) {
      @include media-breakpoint-up($breakpoint) {
        max-width: #{map-get($container-max-widths, $breakpoint)};
      }
    }
  }

  .data-request-fullscreen-backdrop-body {
    @include remove-last-child-bottom-margin;

    overflow-y: scroll;
  }
}

.data-request-event {
  &.data-request-event-hidden {
    display: none;
  }
}

.data-request-event-icon {
  transition: transform 400ms ease-out;

  &.data-request-event-icon-rotate {
    transform: rotate(-90deg);
  }
}

.data-request-review-hidden {
  filter: blur(3px);
  pointer-events: none;
}

.data-request-review-vote-cleared {
  opacity: .5;
}
