.dataset-banner {
  background-color: $header-bg;
  color: $brand-white;
  padding-top: 20px;
}

.dataset-header {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}

.dataset-body {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}

@media screen and (min-width: $screen-sm-min) {
  .dataset-header {
    font-size: 30px;
  }
}

@media screen and (min-width: $screen-md-min) {
  .dataset-header {
    font-size: 44px;
  }

  .dataset-body {
    font-size: 24px;
  }
}

.dataset-info {
  background-color: $header-bg;
  color: $brand-white;
}

.info-container {
  font-weight: 300;
  margin-bottom: 10px;
  padding: 20px 0;
}

.info-header {
  font-size: 18px;
  margin-bottom: 10px;
  white-space: nowrap;
}

@media screen and (min-width: $screen-sm-min) {
  .info-header {
    font-size: 20px;
  }
}

@media screen and (min-width: $screen-md-min) {
  .info-header {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.markdown-container-new.folder-callout {
  border: 2px solid $gray-lighter;
  color: $text-muted;
  margin: 0 32px 40px;
  padding: 20px;
}

.dataset-info-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

@media screen and (min-width: $screen-sm-min) {
  .dataset-info-container {
    display: flex;
    flex-direction: row;
  }
}

.dataset-card-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.dataset-card-footer-entry {
  padding-left: 10px;
  padding-right: 10px;
}

.dataset-card-footer-spacer {
  color: #ccc;
}

@media screen and (min-width: $screen-sm-min) {
  .dataset-card-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
}
