.info-container {
  @include remove-last-child-bottom-margin;

  font-weight: 300;
  padding: $spacer;
  background-color: rgba(0, 0, 0, .4);
  transition: background-color .25s ease-out;
  border-radius: $border-radius;

  @media (hover) {
    &:hover {
      background-color: rgba(0, 0, 0, .6);
    }
  }
}

.info-header {
  font-size: 18px;
  margin-bottom: 10px;
  white-space: nowrap;

  @include media-breakpoint-up(sm) {
    font-size: 20px;
  }

  @include media-breakpoint-up(md) {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.dataset-info-container {
  display: flex;
  flex: 1;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

  .dataset-info-item {
    padding: 10px 10px 0 10px;
    flex: 1 0 50%;
  }
}

@include media-breakpoint-up(sm) {
  .dataset-info-container {
    display: flex;
    flex-direction: row;

    .dataset-info-item {
      flex: 1 1 0;
    }
  }
}

.dataset-card {
  margin-bottom: 20px;
  box-shadow: 0 1px 5px $box-shadow-color;
  border-radius: 4px;
  background-color: $brand-white;
  overflow: hidden;
}

.dataset-card-header {
  background-color: $p50-grey;
  border-bottom: 1px solid $p200-grey;
  display: flex;
}

.dataset-card-header-ratings {
  flex: 1;
  padding: 10px;
}

.dataset-card-body {
  transition: all 1s;
  max-height: auto;

  .not-flipped {
    display: flex;
  }

  .already-flipped {
    @include remove-last-child-bottom-margin;

    display: none;
  }
}

.dataset-card-logo {
  margin: auto;
  line-height: 64px;
  width: 64px;
  flex: 0 0 64px;
  margin-left: 5px;

  img {
    @include ignore-selection;

    max-height: 64px;
    max-width: 100%;
  }
}

.dataset-card-flipped {
  .dataset-card-body {
    .not-flipped {
      display: none;
    }

    .already-flipped {
      display: block;
    }
  }
}

.dataset-info-header {
  font-size: 12px;
  text-align: center;
  color: $p400-grey;
}

.dataset-info-content {
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
}

.dataset-info-content-small {
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
}

@include media-breakpoint-up(sm) {
  .dataset-info-content-small {
    font-size: 14px;
  }
}

.dataset-card-footer {
  background-color: $p100-grey;
  padding: 10px;
}

.dataset-card-footer-request {
  box-shadow: 0 -5px 5px -5px $p400-grey;
}

.dataset-card-footer-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  @include media-breakpoint-up(lg) {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .dataset-card-footer-entry {
    padding-left: 10px;
    padding-right: 10px;
  }

  .dataset-card-footer-spacer {
    color: $p300-grey;
  }
}
