.landing-container {
  margin-bottom: 40px;

  .landing-header {
    margin-bottom: 40px;
  }
}

.background-gradient {
  background-color: $p50;
  background-image: linear-gradient(142deg, $p50, $a100);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -3;
}
