.landing-container {
  margin-bottom: 40px;

  .landing-header {
    margin-bottom: 40px;
  }
}

.background-gradient {
  background-color: $p50;
  background-image: linear-gradient(142deg, $p50, $a100);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -3;
}

.landing-box-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.landing-box {
  background-color: $brand-white;
  border-radius: 4px;
  flex: 1 1 auto;
  margin: 5px;
  padding: 10px;
}
