// Pages adds styles for markdown and text documents for datasets and tools

.markdown-container,
.mono-container {
  @include remove-last-child-bottom-margin;

  margin-bottom: 80px;

  img {
    @include ignore-selection;

    height: auto;
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border-bottom: 1px solid $p400-grey;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 40px;
    padding-bottom: 6.5px;

    &:first-child {
      margin-top: 0;
    }
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4,
  h5,
  h6 {
    font-size: 16px;
  }

  p {
    line-height: 25.6px;
  }

  blockquote {
    border: 0;
    border-left: 2px solid $p200-grey;
    color: $p500-grey;
    font-size: $font-size-base;
    margin: 0 0 11px;
    padding: 0 10px;
  }

  pre {
    border: 1px solid $p300-grey;
    border-radius: $border-radius;
    background-color: $p200-grey;
    padding: $spacer * .5;
  }
}

.page-list-container {
  border-left: 1px solid $breadcrumb-bg;
  margin: -(map-get($spacers, 3)) 0;
  padding: 20px 0;
}

.mono-container {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}
