// Pages adds styles for markdown and text documents for datasets and tools

.markdown-container-no-border,
.mono-container-no-border,
.markdown-container,
.mono-container {
  background-color: $body-bg;
  font-size: 14px;
  font-weight: 300;

  img {
    max-width: 100%;
  }
}

.markdown-container,
.mono-container {
  border: 1px solid $gray-lighter;
  box-shadow: 2px 2px 5px $brand-shadow;
  padding: 20px;
  margin: 20px;
}

@media screen and (min-width: $screen-sm-min) {
  .markdown-container-no-border,
  .mono-container-no-border,
  .markdown-container,
  .mono-container {
    font-size: 16px;
  }

  .markdown-container,
  .mono-container {
    padding: 30px;
  }
}

@media screen and (min-width: $screen-md-min) {
  .markdown-container-no-border,
  .mono-container-no-border,
  .markdown-container,
  .mono-container {
    font-size: 18px;
  }

  .markdown-container,
  .mono-container {
    padding: 40px;
  }
}

@media screen and (min-width: $screen-lg-min) {
  .markdown-container,
  .mono-container {
    padding: 60px;
  }
}

.page-list-container {
  border-left: 1px solid $breadcrumb-bg;
  margin: -20px 0;
  padding: 20px 0;
}

.mono-container {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}
