.tag-checkbox {
  backface-visibility: hidden; // Fix for transition flickering
  background-color: $p50-grey;
  border-radius: 3px;
  color: $brand-white;
  cursor: pointer;
  filter: grayscale(100%);
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
  padding: 6px 10px 6px 25px;
  transition: all .4s ease;   // Fade to color for Chrome and Safari
  white-space: nowrap;

  &:hover,
  &.tag-selected {
    filter: grayscale(0%);
  }
}
