.token-container {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 40px;
}

@include media-breakpoint-up(md) {
  .token-container {
    font-size: 24px;
  }
}

.code-token {
  background-color: $p700-green;
  border-radius: 4px 0 0 4px;
  color: $brand-white;
}

.code-copy {
  background-color: $p100-green;
  border-radius: 0 4px 4px 0;

  a {
    color: $brand-black;
    text-decoration: none;
  }
}
