.topic-line-mark {
  width: 4px;

  &.topic-line-unread {
    background-color: $a100;
  }
}

.topic-read {
  color: $a400;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    color: darken($a400, 15%);
  }
}

.topic-unread {
  color: $a700;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    color: darken($a700, 15%);
  }
}


// TODO: Remove topics.scss
.post-avatar {
  height: 55px;
  margin: 0 10px;
  width: 75px;
}

.post-container {
  background-color: $brand-white;
  border: 1px solid $p400-grey;
  border-right-width: 0;
  margin-bottom: 20px;
  margin-left: 75px;
  margin-top: -55px;
}

@include media-breakpoint-up(sm) {
  .post-container {
    border-right-width: 1px;
    margin-right: 10px;
  }
}

.post-header {
  background-color: $p50-grey;
  padding: 10px;
  position: relative;

  &::before,
  &::after {
    border-color: transparent;
    border-style: solid solid outset;
    content: ' ';
    display: block;
    height: 0;
    left: -16px;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 11px;
    width: 0;
  }

  &::before {
    border-right-color: $p400-grey;
    border-width: 8px;
  }

  &::after {
    border-right-color: $p50-grey;
    border-width: 7px;
    margin-left: 2px;
    margin-top: 1px;
  }
}

@mixin remove-element-margins {
  margin-bottom: -10px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  code,
  p,
  pre {
    margin-bottom: 10px;
    margin-top: 0;
  }

  @include media-breakpoint-up(sm) {
    margin-bottom: -20px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    code,
    p,
    pre {
      margin-bottom: 20px;
      margin-top: 0;
    }
  }
}

// TODO: Check if post-body can be removed.
.post-body {
  @include remove-element-margins;
  overflow: hidden;
  padding: 10px;

  img {
    max-width: 100%;
  }
}

.post-footer {
  height: 25px;
  position: relative;

  .core-member,
  .aug-member,
  .contributor {
    bottom: 0;
    color: $brand-white;
    font-size: 12px;
    padding: 4px 8px;
    position: absolute;
    right: 0;
  }

  // TODO: Restyle or remove "aug-member"
  .aug-member {
    // background-color: $brand-success;
  }

  // TODO: Restyle or remove "core-member"
  .core-member {
    // background-color: $brand-info;
  }

  // TODO: Restyle or remove "contributor"
  .contributor {
    // background-color: $gray;
  }
}
