.topics-container {
  margin-left: -40px;
  margin-right: -40px;
  padding: 0;
}

@media screen and (min-width: $screen-sm-min) {
  .topics-container {
    margin: 0;
  }
}

.posts-container {
  padding-top: 10px;
}

@media screen and (min-width: $screen-sm-min) {
  .posts-container {
    padding: 20px;
    padding-top: 30px;
  }
}

@media screen and (min-width: $screen-md-min) {
  .posts-container {
    padding: 40px;
    padding-top: 50px;
  }
}

.post-avatar {
  height: 55px;
  margin: 0 10px;
  width: 75px;
}

.post-container {
  background-color: $brand-white;
  border: 1px solid $brand-gray;
  border-right-width: 0;
  margin-bottom: 20px;
  margin-left: 75px;
  margin-top: -55px;
}

@media screen and (min-width: $screen-sm-min) {
  .post-container {
    border-right-width: 1px;
    margin-right: 10px;
  }
}

.post-header {
  background-color: $brand-gray-lightest;
  padding: 10px;
  position: relative;

  &::before,
  &::after {
    border-color: transparent;
    border-style: solid solid outset;
    content: ' ';
    display: block;
    height: 0;
    left: -16px;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 11px;
    width: 0;
  }

  &::before {
    border-right-color: $brand-gray;
    border-width: 8px;
  }

  &::after {
    border-right-color: $brand-gray-lightest;
    border-width: 7px;
    margin-left: 2px;
    margin-top: 1px;
  }
}

@mixin remove-element-margins {
  margin-bottom: -10px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  code,
  p,
  pre {
    margin-bottom: 10px;
    margin-top: 0;
  }

  @media screen and (min-width: $screen-sm-min) {
    margin-bottom: -20px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    code,
    p,
    pre {
      margin-bottom: 20px;
      margin-top: 0;
    }
  }
}

.post-body {
  @include remove-element-margins;
  overflow: hidden;
  padding: 10px;

  img {
    max-width: 100%;
  }
}

.post-footer {
  height: 25px;
  position: relative;

  .core-member,
  .aug-member,
  .contributor {
    bottom: 0;
    color: $brand-white;
    font-size: 12px;
    padding: 4px 8px;
    position: absolute;
    right: 0;
  }

  .aug-member {
    background-color: $brand-success;
  }

  .core-member {
    background-color: $brand-info;
  }

  .contributor {
    background-color: $gray;
  }
}
