.variable-header {
  margin-top: 0;
}

h1.variable-header {
  font-size: 1.25rem;

  @include media-breakpoint-up(sm) {
    font-size: 1.25rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.25rem;
  }
}

.variable-calculation {
  font-family: $font-family-monospace;
  // margin-bottom: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.variable-description {
  @include remove-last-child-bottom-margin;
}

.variable-graph {
  margin-bottom: map-get($spacers, 3);
}

@include media-breakpoint-up(xl) {
  .d-flex {
    .variable-graph {
      flex: 1 1 0;

      + .variable-graph {
        margin-left: map-get($spacers, 3);
      }
    }
  }
}
