.vote-info {
  .vote-expanded-info {
    display: none;
  }

  @media (hover) {
    &:hover .vote-expanded-info {
      display: inline-block;
    }
  }
}

.voting-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }

  div {
    flex: 1;
    margin: 10px;
  }
}
