<%= image_tag user.avatar_url(18), style: 'vertical-align:text-middle;width:18px' %> <%= user.name %> <span class="label label-danger">rejected</span> agreement <%= time_ago_in_words(Time.now - 100.days) %> ago
