<%= image_tag user.avatar_url(18), style: 'vertical-align:text-middle;width:18px' %> <%= user.name %> <span class="label label-primary">submitted</span> agreement <%= time_ago_in_words(@agreement.submitted_at || Time.now - 7.days) %> ago
