<h3 style="text-align:center;margin:0px">Race &amp; Gender vs RDI3P</h3>
<h5 style="text-align:center;margin:0px;padding-bottom:8px">Sleep Heart Health Study &middot; Visit 1</h5>

<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr><th></th><th></th><th colspan="7">RDI3P &middot; Visit 1</th></tr>
    <tr>
      <th>Race</th>
      <th>Gender</th>
      <th style="text-align:right">N</th>
      <th style="text-align:right">Mean</th>
      <th style="text-align:right">StdDev</th>
      <th style="text-align:right">Median</th>
      <th style="text-align:right">Min</th>
      <th style="text-align:right">Max</th>
      <th style="text-align:right">Total</th>
    </tr>
  </thead>

  <tfoot>
    <tr style="font-weight:bold"><td colspan="2">Total</td><td style="text-align:right">5,804</td><td style="text-align:right">13.7</td><td style="text-align:right">&plusmn; 14.9</td><td style="text-align:right">8.8</td><td style="text-align:right">0.0</td><td style="text-align:right">157.2</td><td style="text-align:right">5,804</td></tr>
  </tfoot>

  <tbody>
    <tr><td>White</td><td>Female</td><td style="text-align:right">2,528</td><td style="text-align:right">10.5</td><td style="text-align:right">&plusmn; 12.9</td><td style="text-align:right">6.3</td><td style="text-align:right">0.0</td><td style="text-align:right">157.2</td><td style="text-align:right">2,528</td></tr>
    <tr><td>White</td><td>Male</td><td style="text-align:right">2,379</td><td style="text-align:right">17.5</td><td style="text-align:right">&plusmn; 16.1</td><td style="text-align:right">12.8</td><td style="text-align:right">0.0</td><td style="text-align:right">116.8</td><td style="text-align:right">2,379</td></tr>
    <tr><td>Black</td><td>Female</td><td style="text-align:right">305</td><td style="text-align:right">10.8</td><td style="text-align:right">&plusmn; 13.8</td><td style="text-align:right">5.6</td><td style="text-align:right">0.0</td><td style="text-align:right">111.7</td><td style="text-align:right">305</td></tr>
    <tr><td>Black</td><td>Male</td><td style="text-align:right">210</td><td style="text-align:right">17.9</td><td style="text-align:right">&plusmn; 18.4</td><td style="text-align:right">12.1</td><td style="text-align:right">0.0</td><td style="text-align:right">112.0</td><td style="text-align:right">210</td></tr>
    <tr><td><span class="hidden-md hidden-lg hidden-sm">NatAmr/Alsk</span><span class="hidden-xs">Native American / Alaskan</span></td><td>Female</td><td style="text-align:right">7</td><td style="text-align:right">8.9</td><td style="text-align:right">&plusmn; 5.6</td><td style="text-align:right">8.5</td><td style="text-align:right">1.3</td><td style="text-align:right">16.5</td><td style="text-align:right">7</td></tr>
    <tr><td><span class="hidden-md hidden-lg hidden-sm">NatAmr/Alsk</span><span class="hidden-xs">Native American / Alaskan</span></td><td>Male</td><td style="text-align:right">4</td><td style="text-align:right">15.9</td><td style="text-align:right">&plusmn; 6.1</td><td style="text-align:right">16.3</td><td style="text-align:right">9.8</td><td style="text-align:right">21.4</td><td style="text-align:right">4</td></tr>
    <tr><td><span class="hidden-md hidden-lg hidden-sm">Asn/PacIsl</span><span class="hidden-xs">Asian / Pacific Islander</span></td><td>Female</td><td style="text-align:right">40</td><td style="text-align:right">5.8</td><td style="text-align:right">&plusmn; 9.9</td><td style="text-align:right">1.7</td><td style="text-align:right">0.0</td><td style="text-align:right">55.9</td><td style="text-align:right">40</td></tr>
    <tr><td><span class="hidden-md hidden-lg hidden-sm">Asn/PacIsl</span><span class="hidden-xs">Asian / Pacific Islander</span></td><td>Male</td><td style="text-align:right">48</td><td style="text-align:right">12.4</td><td style="text-align:right">&plusmn; 12.1</td><td style="text-align:right">8.6</td><td style="text-align:right">0.7</td><td style="text-align:right">50.5</td><td style="text-align:right">48</td></tr>
    <tr><td><span class="hidden-md hidden-lg hidden-sm">Hsp/MexAmr</span><span class="hidden-xs">Hispanic / Mexican American</span></td><td>Female</td><td style="text-align:right">158</td><td style="text-align:right">7.3</td><td style="text-align:right">&plusmn; 8.2</td><td style="text-align:right">4.8</td><td style="text-align:right">0.0</td><td style="text-align:right">45.1</td><td style="text-align:right">158</td></tr>
    <tr><td><span class="hidden-md hidden-lg hidden-sm">Hsp/MexAmr</span><span class="hidden-xs">Hispanic / Mexican American</span></td><td>Male</td><td style="text-align:right">122</td><td style="text-align:right">18.5</td><td style="text-align:right">&plusmn; 16.2</td><td style="text-align:right">13.9</td><td style="text-align:right">0.0</td><td style="text-align:right">70.2</td><td style="text-align:right">122</td></tr>
    <tr><td>Other</td><td>Female</td><td style="text-align:right">1</td><td style="text-align:right">2.1</td><td style="text-align:right"></td><td style="text-align:right">2.1</td><td style="text-align:right">2.1</td><td style="text-align:right">2.1</td><td style="text-align:right">1</td></tr>
    <tr><td>Other</td><td>Male</td><td style="text-align:right">2</td><td style="text-align:right">10.8</td><td style="text-align:right">&plusmn; 13.3</td><td style="text-align:right">10.8</td><td style="text-align:right">1.4</td><td style="text-align:right">20.2</td><td style="text-align:right">2</td></tr>
  </tbody>
</table>
</div>

<h5 style="text-align:center;margin:0px;padding-bottom:8px">Sleep Heart Health Study &middot; Visit 2</h5>

<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr><th></th><th></th><th colspan="7">RDI3P &middot; Visit 2</th></tr>
    <tr>
      <th>Race</th>
      <th>Gender</th>
      <th style="text-align:right">N</th>
      <th style="text-align:right">Mean</th>
      <th style="text-align:right">StdDev</th>
      <th style="text-align:right">Median</th>
      <th style="text-align:right">Min</th>
      <th style="text-align:right">Max</th>
      <th style="text-align:right">Total</th>
    </tr>
  </thead>

  <tfoot>
    <tr style="font-weight:bold"><td colspan="2">Total</td><td style="text-align:right">4,080</td><td style="text-align:right">10.3</td><td style="text-align:right">&plusmn; 14.7</td><td style="text-align:right">4.6</td><td style="text-align:right">0.0</td><td style="text-align:right">117.6</td><td style="text-align:right">4,080</td></tr>
  </tfoot>

  <tbody>
    <tr><td>White</td><td>Female</td><td style="text-align:right">1,927</td><td style="text-align:right">8.1</td><td style="text-align:right">&plusmn; 12.5</td><td style="text-align:right">3.1</td><td style="text-align:right">0.0</td><td style="text-align:right">107.5</td><td style="text-align:right">1,927</td></tr>
    <tr><td>White</td><td>Male</td><td style="text-align:right">1,660</td><td style="text-align:right">13.0</td><td style="text-align:right">&plusmn; 16.6</td><td style="text-align:right">6.7</td><td style="text-align:right">0.0</td><td style="text-align:right">117.6</td><td style="text-align:right">1,660</td></tr>
    <tr><td>Black</td><td>Female</td><td style="text-align:right">154</td><td style="text-align:right">8.6</td><td style="text-align:right">&plusmn; 12.8</td><td style="text-align:right">3.4</td><td style="text-align:right">0.0</td><td style="text-align:right">66.8</td><td style="text-align:right">154</td></tr>
    <tr><td>Black</td><td>Male</td><td style="text-align:right">102</td><td style="text-align:right">14.4</td><td style="text-align:right">&plusmn; 17.3</td><td style="text-align:right">8.3</td><td style="text-align:right">0.0</td><td style="text-align:right">80.6</td><td style="text-align:right">102</td></tr>
    <tr><td><span class="hidden-md hidden-lg hidden-sm">NatAmr/Alsk</span><span class="hidden-xs">Native American / Alaskan</span></td><td>Female</td><td style="text-align:right">6</td><td style="text-align:right">4.4</td><td style="text-align:right">&plusmn; 6.5</td><td style="text-align:right">0.4</td><td style="text-align:right">0.0</td><td style="text-align:right">12.9</td><td style="text-align:right">6</td></tr>
    <tr><td><span class="hidden-md hidden-lg hidden-sm">NatAmr/Alsk</span><span class="hidden-xs">Native American / Alaskan</span></td><td>Male</td><td style="text-align:right">2</td><td style="text-align:right">0.0</td><td style="text-align:right">&plusmn; 0.0</td><td style="text-align:right">0.0</td><td style="text-align:right">0.0</td><td style="text-align:right">0.0</td><td style="text-align:right">2</td></tr>
    <tr><td><span class="hidden-md hidden-lg hidden-sm">Asn/PacIsl</span><span class="hidden-xs">Asian / Pacific Islander</span></td><td>Female</td><td style="text-align:right">22</td><td style="text-align:right">4.9</td><td style="text-align:right">&plusmn; 6.7</td><td style="text-align:right">1.7</td><td style="text-align:right">0.0</td><td style="text-align:right">25.5</td><td style="text-align:right">22</td></tr>
    <tr><td><span class="hidden-md hidden-lg hidden-sm">Asn/PacIsl</span><span class="hidden-xs">Asian / Pacific Islander</span></td><td>Male</td><td style="text-align:right">26</td><td style="text-align:right">8.0</td><td style="text-align:right">&plusmn; 8.9</td><td style="text-align:right">5.1</td><td style="text-align:right">0.0</td><td style="text-align:right">35.2</td><td style="text-align:right">26</td></tr>
    <tr><td><span class="hidden-md hidden-lg hidden-sm">Hsp/MexAmr</span><span class="hidden-xs">Hispanic / Mexican American</span></td><td>Female</td><td style="text-align:right">110</td><td style="text-align:right">6.4</td><td style="text-align:right">&plusmn; 11.0</td><td style="text-align:right">2.0</td><td style="text-align:right">0.0</td><td style="text-align:right">88.9</td><td style="text-align:right">110</td></tr>
    <tr><td><span class="hidden-md hidden-lg hidden-sm">Hsp/MexAmr</span><span class="hidden-xs">Hispanic / Mexican American</span></td><td>Male</td><td style="text-align:right">70</td><td style="text-align:right">15.7</td><td style="text-align:right">&plusmn; 17.5</td><td style="text-align:right">13.2</td><td style="text-align:right">0.0</td><td style="text-align:right">78.4</td><td style="text-align:right">70</td></tr>
    <tr><td>Other</td><td>Female</td><td style="text-align:right">0</td><td style="text-align:right"></td><td style="text-align:right"></td><td style="text-align:right"></td><td style="text-align:right"></td><td style="text-align:right"></td><td style="text-align:right">0</td></tr>
    <tr><td>Other</td><td>Male</td><td style="text-align:right">1</td><td style="text-align:right">2.4</td><td style="text-align:right"></td><td style="text-align:right">2.4</td><td style="text-align:right">2.4</td><td style="text-align:right">2.4</td><td style="text-align:right">1</td></tr>
  </tbody>
</table>
</div>
