<div class="jumbotron">
  <h1>National Sleep Research Resource</h1>
  <p class="lead">Explore the largest collection of sleep research databases in the world.</p>
  <%= image_tag 'nsrr_logo_256.png', size: '256x256', alt: 'NSRR' %>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Contact Us</h3>
  </div>
  <div class="panel-body">
    <p>If you are interested in being notified when our first dataset is available, fill out our survey here:</p>
    <p><%= link_to 'sleepepi.partners.org/slice/survey/nsrr-sleepdata', 'https://sleepepi.partners.org/slice/survey/nsrr-sleepdata', class: 'btn btn-default', target: '_blank' %></p>
  </div>
</div>
