  <div class="jumbotron">
    <h1>National Sleep Research Resource</h1>
    <p class="lead">Explore the largest collection of sleep research databases in the world.</p>
    <%= image_tag 'nsrr_logo_256.png', size: '256x256', alt: 'NSRR' %>
  </div>
