<% @title = 'Sync Status' %>
<div class="page-header">
  <h1>
    <%= @title %>
  </h1>
</div>

<% Dataset.current.order(:name).each do |dataset| %>
  <%= render partial: 'documentation/sync', locals: { local_commit: dataset.local_commit, remote_commit: dataset.remote_commit, object: dataset, back: 'sync' } %>
<% end %>

<% Tool.current.order(:name).each do |tool|  %>
  <%= render partial: 'documentation/sync', locals: { local_commit: tool.local_commit, remote_commit: tool.remote_commit, object: tool, back: 'sync' } %>
<% end %>
