- @title = 'Token'

- content_for :body_class do
  brand-background

- content_for :banner do
  .call-to-action
    .call-to-action-header.brand
      My
      = @title
    .call-to-action-body
      %code= current_user.id_and_auth_token
