= f.hidden_field :rating

- rating = community_tool_review.rating

%span.nowrap
  - (0..4).each do |position|
    - if rating > position + 0.5
      %i.fa.fa-star.text-warning{ aria: { hidden: 'true' }, data: { object: 'star-rating', position: position }, style: 'cursor: pointer;' }
    - elsif rating > position
      %i.fa.fa-star-half-o.text-warning{ aria: { hidden: 'true' }, data: { object: 'star-rating', position: position }, style: 'cursor: pointer;' }
    - else
      %i.fa.fa-star-o{ aria: { hidden: 'true' }, data: { object: 'star-rating', position: position }, style: 'cursor: pointer;' }
