%p
  2. Data User will describe to BWH via the electronic registration process
  for NSRR Data access at https://sleepdata.org the specific sleep research
  use for the Data / Datasets proposed by Data User (the
  = succeed ').' do
    %strong "Specific Purpose"
  The Specific Purpose as described in the online application process is:
