%p.lead-paragraph
  For avoidance of doubt, permissible uses may include use of the Data /
  Datasets for research evaluation and testing of a product or technology but
  will not extend to proposals that include or incorporate the Data / Datasets
  into such product. BWH will provide the Data / Datasets requested by the
  Data User upon BWH's approval, in its sole discretion, of the Specific
  Purpose, its receipt of this DAUA signed by Data User (or of Data User's
  Duly Authorized Representative, if an organization), and the submission by
  Data User of any additional information or documentation required by NSRR
  policies and procedures as applicable to the request (including, when
  required, submission of evidence of approval of the Specific Purpose by Data
  User's Institutional Review Board). The requirements described in this
  Section 2 will apply regardless of whether Data User has been previously
  approved by NHLBI to access complementary data from databases or other
  resources controlled by NHLBI (including but not limited to BioLINCC). Data
  User acknowledges that other researchers are permitted to access the Data /
  Dataset on the same terms as Data User, so that duplication of research may
  occur.
