<%= image_tag agreement_event.user.avatar_url(18, 'identicon'), size: '18x18', style: 'vertical-align:text-middle;width:18px' %>
<%= agreement_event.user.name %>
<span class="label label-success">approved</span>
agreement
<abbr title="<%= agreement_event.event_at.strftime("%-d %B %Y, %-l:%M %p (%H:%M)") %>"><%= time_ago_in_words(agreement_event.event_at) %> ago</abbr>.
