= profile_picture_tag agreement_event.user, size: 18, style: "vertical-align: text-middle;width: 18px;"
= agreement_event.user.name
changed review from
%span.badge.badge-danger rejected
to
%span.badge.badge-success approved
= succeed "." do
  %abbr{ rel: "tooltip", data: { title: agreement_event.event_at.strftime("%-d %B %Y, %-l:%M %p"), container: "body", placement: "right" } }= "#{time_ago_in_words(agreement_event.event_at)} ago"
