<%= image_tag agreement_event.user.avatar_url(18, 'identicon'), size: '18x18', style: 'vertical-align:text-middle;width:18px' %>
<%= agreement_event.user.name %>
<span class="label label-primary">submitted</span>
agreement
<abbr rel="tooltip" data-title="<%= agreement_event.event_at.strftime("%-d %B %Y, %-l:%M %p") %>" data-container="body" data-placement="right"><%= time_ago_in_words(agreement_event.event_at) %> ago</abbr>.
