%p{ style: p_style }
  Dear
  = succeed "," do
    = @data_request.user.username

%p{ style: p_style }
  Your data request has been received. Please allow up to two (2) weeks for your
  request to be reviewed by the NSRR team.

%p{ style: p_style }
  You can reply directly to this email if you have any questions.
