-# General
%meta{ name: "description", content: "National Research Resource Resource offers free web access to large collections of de-identified physiological signals and clinical data elements collected in well-characterized research cohorts and clinical trials. The initial data resource is from the Sleep Heart Health Study." }
%meta{ name: "author", content: "Remo Mueller" }
%meta{ name: "keywords", content: @keywords.present? ? @keywords : "sleep data, research datasets, study, sleep apnea, free access, download datasets" }
