- case variable.variable_type
- when "checkbox"
  = render "legal_documents/outline/check_box", variable: variable, editable: editable
- else
  = render "legal_documents/inline/string", variable: variable, editable: editable
  = render "legal_document_variables/edit_link", variable: variable if editable
