- key = variable.name
- label = variable.display_name_label
- help_element = key
- help_text = label || key.titleize

- if reviewer
  %span.legal-document-variable-review-inline= value
- else
  = text_field_tag key, value, class: "input-expandable form-control-inline", placeholder: "<Type #{label}>", data: { object: "text-input-expandable", help_element: help_element, help_text: help_text }, disabled: editable
