- current_user_is_editor = (current_user && @dataset.editors.pluck(:id).include?(current_user.id) ? true : false)

- if @dataset_files.present?
  %table.table.table-sm.table-hover.table-striped
    %col{ width: "1px" }
    - @dataset_files.each do |dataset_file|
      - table_classes = []
      - table_classes << "table-warning" if dataset_file.file_name == params[:f]
      - table_classes << "table-primary" if current_user_is_editor && dataset_file.file_checksum_md5.blank? && dataset_file.is_file?
      %tr.tr-align-middle{ class: table_classes, id: "dataset-file-#{dataset_file.id}-container" }
        = render "dataset_files/dataset_file", dataset_file: dataset_file

  = render "datasets/download_command"
- else
  .jumbotron.jumbotron-custom-text
    = icon("far", "clone", class: "mr-1")
    No files found.
