- @title = "#{@dataset.name_was} Edit"

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = link_to @dataset.name_was, @dataset
        Edit

= render 'datasets/form'
