- @title = "Edit Dataset: #{@dataset.name_was}"

- content_for :header_simple,  @dataset.name_was

- content_for :breadcrumbs do
  %ol
    %li= link_to "Datasets", datasets_path
    %li= link_to @dataset.name_was, @dataset
    %li Edit

.dashboard-container= render "datasets/form", dataset: @dataset
