- @title = "Settings - #{@dataset.name}"

- render "themes/theme"
= render "datasets/header", container: "container-fluid"
- content_for :sidebar, render("editor/datasets/sidebar")

- content_for :breadcrumbs do
  %ol
    %li= link_to @dataset.slug, @dataset
    %li{ style: "font-weight: 300; color: #9e9e9e;" } settings

.dashboard-container
  = link_to "Edit", edit_dataset_path(@dataset)
