- @title = 'New Dataset'

- content_for :body_class do
  brand-background

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

.dashboard-container
  = render 'datasets/form'
