- @title = "New Dataset"

- content_for :header, @title
- content_for :breadcrumbs do
  %ol
    - if @organization
      %li= link_to @organization.name, @organization
    %li= link_to "datasets", :datasets # [@organization, :datasets]
    %li.breadcrumb-muted new

.dashboard-container= render "datasets/form", dataset: @dataset
