.form-group.row.mt-5
  .col-md-2
  .col-md-10
    = form.submit defined?(submit_text) ? submit_text : nil, class: "btn btn-primary"
    = link_to "Cancel", polymorphic_path(object), remote: defined?(remote) ? remote : nil, class: "btn btn-light"
