- @title = "New Tag"

- render "themes/theme"
- content_for :container_class, "container-fluid"
- content_for :sidebar, render("admin/sidebar")
- content_for :header, @title

- content_for :breadcrumbs do
  %ol
    %li= link_to "Tags", tags_path
    %li{ style: "font-weight: 300; color: #9e9e9e;" } New

.dashboard-container= render "tags/form", tag: @tag
