- @title = "New Tag"

- render "themes/theme"
- content_for :header, @title
= render "internal/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "Tags", tags_path
    %li.breadcrumb-muted new
- content_for :sidebar, render("admin/sidebar")

.dashboard-container= render "tags/form", tag: @tag
