- @title = 'Sleep Researcher Community'

- content_for :banner do
  .banner
    .container
      .banner-header.brand
        = @title
      .banner-body
        NSRR World-Wide Membership

.content-container
  %h2
    Across the world...

  %div{ style: 'height: 500px; min-width: 310px; max-width: 800px; margin: 0 auto', data: { object: 'draw-world-map', membership: Map.countries_for_map.to_json } }

  %h2
    \...and in the US.

  %div{ style: 'height: 500px; min-width: 310px; max-width: 800px; margin: 0 auto', data: { object: 'draw-map', membership: Map.states_for_map.to_json } }


- content_for :call_to_action do
  .call-to-action
    - if current_user
      .call-to-action-header
        Thank you for being part of our sleep community!
      .call-to-action-body
        Discuss more with your colleagues on our forum.

      .call-to-action-body
        = link_to 'Visit the Forum', topics_path, class: 'btn btn-call-to-action btn-lg'
    - else
      .call-to-action-header
        Join today!
      .call-to-action-body
        Collaborate with an international community of sleep researchers.

      .call-to-action-body
        = link_to 'Sign Up', new_user_registration_path, class: 'btn btn-call-to-action btn-lg'
