.parallax
  .parallax__group
    .parallax__layer.parallax__layer--back
      .is-parallax-title This is the background
    .parallax__layer.parallax__layer--base
      .is-parallax-title This is the foreground
  .parallax__group
    .parallax__layer.parallax__layer--base
      .full-screen
        %h2.header-top
          Hello
  .parallax__group
    .parallax__layer.parallax__layer--back
      .is-parallax-title This is the background
    .parallax__layer.parallax__layer--base
      .is-parallax-title This is the foreground
  .parallax__group{ style: 'border:2px solid green' }
    .parallax__layer.parallax__layer--base
      .full-screen
        %h2.header-top
          Bottom
