- @title = "Version"

.full-screen
  %h2.header-top Version
  %p.screen-description-top
    National Sleep Research Resource

.full-screen.math-texture
  .text-center{ style: 'margin-top:40px' }
    %p.lead
      Current version
      %strong= WwwSleepdataOrg::VERSION::STRING
