- @title = 'Version'

- content_for :body_class do
  brand-background

- content_for :banner do
  .call-to-action
    .call-to-action-header.brand
      National Sleep Research Resource
    .call-to-action-body
      Version
      %strong= WwwSleepdataOrg::VERSION::STRING
