- @title = "Version"

.beta-container
  .main-container.dark-texture
    %h1 Version
    %p
      National Sleep Research Resource

  .main-container.grid-texture
    .text-center{ style: 'margin-top:40px' }
      %p.lead
        Current version
        %strong= WwwSleepdataOrg::VERSION::STRING
