- @title = "Submission Complete"

- content_for :header do
  .text-center
    .mb-3= @title
    .lead
      Thank you for using the online data request process.

.dashboard-container-narrow.text-center
  %p
    If you have any questions regarding this process, you can contact us at:
  %p
    = mail_to ENV["support_email"]

.text-center
  = link_to about_path, class: "btn btn-primary btn-shadow" do
    About the NSRR
    %i.fa.fa-caret-right
