%p.lead.text-center
  Are you filling out the agreement as an individual or an organization?

.card-deck
  = link_to update_data_user_type_path(dataset_id: @dataset, data_user_type: "individual"), method: :post, class: "link-card card" do
    .card-header.background-brand-white
      .text-center.fa-hover{ style: "font-size: 6rem;" }
        %i.fa.fa-user
      %h4.card-title.text-center Individual

    .card-body.background-p100-grey.text-dark
      You are doing research for yourself, or you are a student interested in
      exploring data.

    .card-footer.background-p100-grey.text-center
      .btn.btn-default.btn-link
        I am an individual
        %i.fa.fa-caret-right

  = link_to update_data_user_type_path(dataset_id: @dataset, data_user_type: "organization"), method: :post, class: "link-card card" do
    .card-header.background-brand-white
      .text-center.fa-hover{ style: "font-size: 6rem;" }
        %i.fa.fa-university
      %h4.card-title.text-center Organization

    .card-body.background-p100-grey.text-dark
      You are doing research for an institution or company. You are doing a
      class project. You have a representative and contact person who handles
      data access and use agreements.

    .card-footer.background-p100-grey.text-center
      .btn.btn-default.btn-link
        I am part of an organization
        %i.fa.fa-caret-right
