$breadcrumb-link-color: $a100 !default;
$header-bg: $p500 !default;

$notification-link-color: $brand-accent !default;

$comment-unread-even: $brand-white;
$comment-unread-odd: $brand-gray-lightest;
$comment-read-even: $p100;
$comment-read-odd: $p50; // $comment-unread-odd * $comment-read-even

$dashboard-bg: $brand-white !default;
