= form.hidden_field :rating, id: "dataset_review_rating"

- rating = dataset_review.rating

.star-ratings.nowrap
  - (0..4).each do |position|
    - if rating > position + 0.5
      - icon_class = "fa-star text-warning"
    - elsif rating > position
      - icon_class = "fa-star-half-o text-warning"
    - else
      - icon_class = "fa-star-o text-muted"

    .star-rating.star-rating-clickable{ data: { object: "star-rating", position: position, target: "#dataset_review_rating" } }
      %i.fa{ class: icon_class, aria: { hidden: "true" } }
