= form.hidden_field :rating, id: "dataset_review_rating"

- rating = dataset_review.rating

.star-ratings.nowrap
  - (0..4).each do |position|
    - if rating > position + 0.5
      - weight = "fas"
      - star = "star"
      - icon_class = "text-warning"
    - elsif rating > position
      - weight = "fas"
      - star = "star-half-alt"
      - icon_class = "text-warning"
    - else
      - weight = "far"
      - star = "star"
      - icon_class = "text-muted"

    .star-rating.star-rating-clickable{ data: { object: "star-rating", position: position, target: "#dataset_review_rating" } }
      = icon(weight, star, class: icon_class)
