- @title = "Update Review - #{@dataset.name}"

- content_for :header_simple, "Update review"
- content_for :breadcrumbs do
  %ol
    %li= link_to @dataset.name, @dataset

.dashboard-container= render "dataset_reviews/form", dataset_review: @dataset_review
