- @title = "Write a review - #{@dataset.name}"

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        Write a review
  .breadcrumb-container{ style: 'margin-bottom: 0;' }
    .container
      %ol
        %li= link_to @dataset.name, @dataset

= render 'form', dataset_review: @dataset_review
