- if ['.md','.markdown'].include?(File.extname(page_path))
  .markdown-container-new
    = highlight(simple_markdown(File.read(page_path), false, 'table table-striped table-hover'), @term, sanitize: false)
- else
  .mono-container
    = highlight(File.read(page_path), @term, sanitize: false)
