- if ['.md','.markdown'].include?(File.extname(page_path))
  =# path.to_s.split('/').last
  .markdown-container
    = highlight(simple_markdown( File.read(page_path), false, 'table table-striped table-hover' ), @term, sanitize: false)
- else
  MONO SPACE FILE
