- if ['.md','.markdown'].include?(File.extname(page_path))
  .markdown-container-new
    = highlight(simple_markdown_new(File.read(page_path), target_blank: false, table_class: 'table table-striped table-hover'), @term, sanitize: false)
- else
  .mono-container
    = highlight(File.read(page_path), @term, sanitize: false)
