- images_path = images_dataset_path(@object, path: @image_file)
- content_for :header, @dataset.name_was
- content_for :header_append, render("datasets/header")

- content_for :breadcrumbs do
  %ol
    %li= link_to @object.breadcrumb_slug, @object
    %li images
    %li= link_to File.basename(@image_file), images_path

.text-center
  = image_tag images_path, class: "img-fluid"
