- @title = [@object.name, @path.to_s.split('/').last.to_s.split(/\.(md|txt)/).first.to_s.titleize].reject{|a| a.blank?}.join(' - ')

- if @object.class == Dataset
  = render 'datasets/header'
- else
  = render 'tools/header'

= render 'documentation/pagebeta', object: @object
