- @title = [@object.name, @path.to_s.split("/").last.to_s.split(/\.(md|txt)/).first.to_s.titleize].reject(&:blank?).join(" - ")

= render "datasets/header"

= render "documentation/page", object: @object
