- @title = [@object.name, @path.to_s.split('/').last.to_s.split(/\.(md|txt)/).first.to_s.titleize].reject{|a| a.blank?}.join(' - ')
.beta-container
  - if @object.class == Dataset
    = render partial: 'datasets/headerbeta'
  - else
    =# render partial: 'tools/header'

  = render partial: 'documentation/pagebeta'
