- @title = @object.name

- if @object.class == Dataset
  = render 'datasets/header'
- else
  = render 'tools/header'

= render 'documentation/sync', local_commit: @local_commit, remote_commit: @remote_commit, object: @object, back: ''
