- @title = "Sync - #{@object.name}"

- render "themes/theme"
= render "datasets/header", container: "container-fluid"
- content_for :sidebar, render("editor/datasets/sidebar")

- content_for :breadcrumbs do
  %ol
    %li= link_to @dataset.slug, @dataset
    %li.breadcrumb-muted sync

= render "documentation/sync", local_commit: @local_commit, remote_commit: @remote_commit, object: @object, back: ""
