= form.hidden_field :rating, id: "tool_review_rating"

- rating = tool_review.rating

.star-ratings.nowrap
  - (0..4).each do |position|
    - if rating > position + 0.5
      - icon_class = icon("fas", "star", class: "text-warning")
    - elsif rating > position
      - icon_class = icon("fas", "star-half-alt", class: "text-warning")
    - else
      - icon_class = icon("far", "star", class: "text-muted")

    .star-rating.star-rating-clickable{ data: { object: "star-rating", position: position, target: "#tool_review_rating" } }
      = icon_class
