- @title = "Update Review - #{@tool.name}"

- content_for :header_simple, "Update review"
- content_for :breadcrumbs do
  %ol
    %li= link_to @tool.name, @tool

.dashboard-container= render "tool_reviews/form", tool_review: @tool_review
