- @title = "New Organization"

- render "themes/theme"
- content_for :header, @title
= render "admin/tabs"
- content_for :sidebar, render("admin/sidebar")

.dashboard-container= render "organizations/form", organization: @organization
