- if @data_request.agreement_events.present?
  - @data_request.agreement_events.each_with_index do |agreement_event, index|
    %div{ id: "agreement_event_container_#{agreement_event.id}"}
      = render "agreement_events/show", agreement_event: agreement_event, number: agreement_event.number
- else
  .jumbotron.jumbotron-custom-text
    %i.fa.fa-clone.mr-1
    This data request has no events.
