- @title = "Edit Broadcast: #{@broadcast.title_was}"

- render "themes/theme"
- content_for :header, @broadcast.title_was
= render "admin/tabs"
- content_for :sidebar, render("admin/sidebar")

.dashboard-container= render "broadcasts/form", broadcast: @broadcast
