- @title = "Edit Broadcast: #{@broadcast.title_was}"

- render "themes/theme"
- content_for :sidebar, render("admin/sidebar")
- content_for :header, @broadcast.title_was

.dashboard-container= render "broadcasts/form", broadcast: @broadcast
