- @title = "Edit Broadcast: #{@broadcast.title_was}"

- content_for :banner do
  .banner
    .container
      .banner-header.brand
        = link_to 'Blog Posts', broadcasts_path
        &middot;
        = link_to @broadcast.title_was, @broadcast
        &middot;
        Edit

= render 'form'
