- content_for :container_class, "container-fluid"

.container-fluid
  .row.flex-xl-nowrap
    = render "data_requests/menu"

    #agreement-helper-drawer.d-none.d-xl-block.col-xl.sidebar-drawer

    %main.col-12.col-md-9.col-xl-8.pl-md-5{ role: "main" }
      .page-box.last-box
        .agreement-heading
          - if @data_request.signature_required?
            Signature
          - else
            Attest
        - if @data_request.signature_required?
          - if @data_request.duly_authorized_representative_emailed_at.present?
            = render "data_requests/attest_duly_authorized_representative"
          - else
            = render "data_requests/attest_signature"
        - elsif @data_request.attestation_required?
          = render "data_requests/attest_checkbox"
