- render "themes/theme"

.page-box.last-box.d-flex.align-items-center.theme-bg{ class: "theme-#{@theme}-focus-bg" }
  .container
    .sign-up-form
      .sign-up-form-title
        Confirm Email

      %p
        We emailed you at
        %strong= @user.email
        to confirm you account. Please click the link
        provided in the email to continue your data request.

      %p
        = link_to "Click here", new_user_confirmation_path
        if you did not receive an email to confirm your account.
