- @title = "Data Requests"

%h1.dashboard-heading
  = @title

- if @data_requests.present?
  - @data_requests.each do |data_request|
    .mb-3= render "data_requests/show", data_request: data_request
  .center-horizontally= paginate @data_requests, theme: "bootstrap"
- else
  .p-3.lead.text-center.text-muted
    You have not started any data requests.
