PDF View Currently Unavailable

%hr

= @data_request.final_legal_document.organization.name
%br
National Sleep Research Resource (NSRR)
%br
= @data_request.final_legal_document.name

- @data_request.final_legal_document.final_legal_document_pages.each do |final_legal_document_page|
  = legal_markdown final_legal_document_page, reviewer: true
