-# TODO: Set expired...
-# Tests for each submission type + expired + expired with date (but approved)
-# if @data_request.expired?
-# TODO: "Started" data requests should redirect to page/1 or appropriate page.

- @title = "Data Requests"

= link_to data_requests_path, class: "btn btn-sm mb-3" do
  %i.fa.fa-caret-left
  Back to Data Requests

= render "data_requests/show", data_request: @data_request
