- if @challenge.slug == 'flow-limitation'
  .beta-container
    .main-container.dark-texture.full-height

      %p.header-middle-lead
        Participate in the

      %h1.header-middle
        Flow Limitation Challenge

      %p.center
        Non-Invasive Identification of Inspiratory Flow Limitation in Sleep Studies

      .logo-middle
        = image_tag 'flow-limitation-logo.png', class: 'img-white-background'

    %a.anchor-top{ name: 'about-the-challenge' }
    .main-container.grid-texture

      %h2
        About This Initiative

      %p
        Inspiratory flow limitation (IFL) is typically characterized by
        flattening on a nasal pressure transducer tracing which reflects a lack
        of increase in airflow despite increasing respiratory effort
        (Hosselet et al., AJRCCM 1998; 157:1461-1467). However, to date, IFL has
        been identified by subjective, and varying, criteria. There is some data
        demonstrating an association between IFL and transient arousals,
        suboptimal sleep architecture and possibly daytime hypersomnolence.
        Several methods have been described in the literature for assessing IFL
        based on visual detection of the nasal pressure transducer signal.
        Despite this lack of standardization and validation, studies using
        different manual and/or automated methods have reported an association
        between IFL and adverse outcomes.

    .main-container.light-texture
      %h2
        Objective

      %p
        A standardized approach to the visual assessment of IFL is necessary.
        As part of an ATS workshop project, we aim to determine the best
        approach to achieve a consensus-based algorithm to be used for scoring
        of IFL that can be disseminated and used to generate a validated
        training set of IFL breaths. This training set could also be used in the
        development of automated methods, which will be necessary for widespread
        acceptance of IFL as a physiological tool across large clinical
        datasets.

    .main-container.grid-texture
      %h2
        How You Can Help!

      %p
        We seek input from the sleep research community to help us better
        understand the visual characteristics that define IFL from the nasal
        pressure transducer airflow signal. Please take part in our online
        challenge (link below) and complete the following exercises on scoring
        airflow limitation in sample breath strips.  Moreover, we are interested
        in hearing from participants of the challenge on potential approaches or
        algorithms for defining IFL. Following completion of the challenge,
        there will be an opportunity for you to describe any novel approaches
        that you would like to share with us. The participant with the most
        innovative approach will be invited to join us at the ATS Workshop in
        Denver (Saturday May 16, 2015), with reimbursement for hotel and meals
        related to attending workshop. We look forward to your input!

      %p
        %i
          ATS 2015 Workshop Participants for "Non-Invasive Identification of
          Inspiratory Flow limitation in Sleep Studies".


    .main-container.call-to-action

      %h2.center
        Help us better define Inspiratory Flow Limitation!

      .center{ style: 'margin-top:20px;margin-bottom:20px' }
        = link_to 'Get Started Now &raquo;'.html_safe, signal_challenge_path(signal: '1'), class: 'btn btn-call-to-action btn-lg'


- else

  - image_files = Dir.glob( File.join(@challenge.images_folder, '*.png') )

  - image_files.each do |image_location|
    - path = File.basename(image_location)
    = image_tag images_challenge_path(@challenge, path: path)
