.beta-container
  .main-container.dark-texture
    %h1.header-top Flow Limitation Challenge
    %p.wow.flipInX
      Step 2

  %a.anchor-top{ name: 'download-data' }
  .main-container.grid-texture

    .center{ style: 'width:100%;' }
      = image_tag 'challenges/flow-limitation-letters.png', class: 'img-thumbnail'

    %p{ style: 'margin-top:40px'}
      %strong Question:

    %p
      Is the breath labeled "B" Flow Limited?

    %p{ style: 'margin-top:40px'}
      %strong Answer Choices:

    %p{ "data-toggle" => "buttons" }
      %label.btn.btn-default
        %input#option1{ autocomplete: "off", name: "options", type: "radio" }
          Yes
      %label.btn.btn-default
        %input#option2{ autocomplete: "off", name: "options", type: "radio" }
          No
      %label.btn.btn-default
        %input#option3{ autocomplete: "off", name: "options", type: "radio" }
          Intermediate
      %label.btn.btn-default
        %input#option3{ autocomplete: "off", name: "options", type: "radio" }
          Unscorable / Artifact

    .center{ style: 'margin-top:20px;' }
      = link_to 'Continue to Next Step &raquo;'.html_safe, flow_limitation_challenge_review_path, class: 'btn btn-primary btn-lg'
