.full-screen
  %h2.header-top Flow Limitation Challenge
  %p.screen-description-top.wow.flipInX
    Step 1

%a.anchor-top{ name: 'download-data' }
.full-screen.math-texture

  %div{ style: 'text-align:center;width:100%;' }
    = image_tag 'challenges/flow-limitation-letters.png', class: 'img-thumbnail'

  %p.screen-description-top{ style: 'margin-top:40px'}
    %strong Question:

  %p.screen-description-top
    Is the breath labeled "A" Flow Limited?

  %p.screen-description-top{ style: 'margin-top:40px'}
    %strong Answer Choices:

  %p.screen-description-top{ "data-toggle" => "buttons" }
    %label.btn.btn-default
      %input#option1{ autocomplete: "off", name: "options", type: "radio" }
        Yes
    %label.btn.btn-default
      %input#option2{ autocomplete: "off", name: "options", type: "radio" }
        No
    %label.btn.btn-default
      %input#option3{ autocomplete: "off", name: "options", type: "radio" }
        Intermediate
    %label.btn.btn-default
      %input#option3{ autocomplete: "off", name: "options", type: "radio" }
        Unscorable / Artifact

  %div{ style: 'text-align:center;margin-top:20px;' }
    = link_to 'Continue to Next Step &raquo;'.html_safe, flow_limitation_challenge_step2_path, class: 'btn btn-primary btn-lg'
