.beta-container
  .main-container.dark-texture
    %h1 Flow Limitation Challenge
    %p.wow.flipInX
      %span{ style: 'color: green;background-color:white;border-radius: 5px;padding-left:5px;padding-right:5px' }
        Challenge Completed!

  %a.anchor-top{ name: 'download-data' }
  .main-container.grid-texture

    %h2
      All Done!

    %p
      Thank you for completing the challenge!


    .center{ style: 'margin-top:20px;' }
      = link_to '&laquo; Restart Challenge'.html_safe, flow_limitation_challenge_path, class: 'btn btn-primary btn-lg'
