- @title = "New Legal Document Page"

- render "themes/theme"
- content_for :sidebar, render("admin/sidebar")
- content_for :header, @title

- content_for :breadcrumbs do
  %ol
    %li= link_to @organization.name, @organization
    %li= link_to "Legal Docs", [@organization, :legal_documents]
    %li= link_to @legal_document.name, [@organization, @legal_document]
    %li New Page

.dashboard-container= render "legal_document_pages/form", legal_document_page: @legal_document_page
