.logo-header {
  margin-top: -($header-height + 1px);
}

// Container to maintain height of document when transitioning relative div to
// a fixed div.
.navbar-outer {
  height: $header-height;

  .navbar {
    border-width: 1px 0;
    z-index: $zindex-navbar-fixed;
  }
}

.navbar {
  border-radius: 0;

  &.affix {
    border-width: 0 0 1px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $zindex-navbar-fixed;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .navbar-outer {
    .navbar-collapse {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
