.logo-header {
  margin-top: -($header-height + 1px);
}

// Container to maintain height of document when transitioning relative div to
// a fixed div
.navbar-outer {
  height: $header-height;

  .navbar {
    background-color: $body-bg;
    border-width: 1px 0;
    // border-width: 0;
    transition: all .2s ease;
    z-index: $zindex-navbar-fixed;
  }
}

.navbar {
  border-radius: 0;

  &.affix {
    background-color: $brand-primary;
    border-width: 0 0 1px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $zindex-navbar-fixed;

    a,
    a:active,
    a:focus,
    a:hover {
      color: $brand-white;
    }

    // In case the new selection is too general, the original CSS used to be:
    // .navbar-nav > li > a
    // .navbar-nav > li > a:active
    // .navbar-nav > li > a:focus
    // .navbar-nav > li > a:hover
    .navbar-nav a,
    .navbar-nav a:active,
    .navbar-nav a:focus,
    .navbar-nav a:hover {
      color: $brand-white;
    }
  }
}

@media screen and (min-width: $screen-sm-min) {
  .navbar-outer {
    .navbar-collapse {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
