// TODO: Remove ".center" class (replace with .text-center from bootstrap)
.center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
}

.breakword {
  word-break: break-word;
}

.center-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-both {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-horizontally {
  display: flex;
  justify-content: center;
}
