@keyframes wiggle {
  25% {
    transform: rotate(7deg);
  }

  75% {
    transform: rotate(-7deg);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.5, 1.5);
  }

  100% {
    transform: scale(1, 1);
  }
}

.animation-delay-1,
.animation-delay-0ms {
  animation-delay: 0s !important;
}

.animation-delay-2,
.animation-delay-250ms {
  animation-delay: 250ms !important;
}

.animation-delay-3,
.animation-delay-500ms {
  animation-delay: 500ms !important;
}

.animation-delay-4,
.animation-delay-750ms {
  animation-delay: 750ms !important;
}

.animation-delay-5,
.animation-delay-1250ms {
  animation-delay: 1250ms !important;
}

.animation-delay-6,
.animation-delay-1750ms {
  animation-delay: 1750ms !important;
}

.animation-delay-7,
.animation-delay-2000ms {
  animation-delay: 2000ms !important;
}

.animation-delay-8,
.animation-delay-2250ms {
  animation-delay: 2250ms !important;
}

.animation-delay-9,
.animation-delay-2500ms {
  animation-delay: 2500ms !important;
}

.animation-delay-10,
.animation-delay-2750ms {
  animation-delay: 2750ms !important;
}
