.background-p50-grey {
  background-color: $p50-grey;
}

.background-p100-grey {
  background-color: $p100-grey;
}

.background-p50-green {
  background-color: $p50-green;
}

.background-p100-green {
  background-color: $p100-green;
}

.background-p200-green {
  background-color: $p200-green;
}
