.background-p50-grey {
  background-color: $p50-grey;
}

.background-p100-grey {
  background-color: $p100-grey;
}

.bg-landing {
  height: 200px;
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .bg-landing {
      background-image: linear-gradient(180deg, map-get($theme, footer-bg), map-get($theme, body-focus) 40%, map-get($theme, footer-bg));
      background-color: map-get($theme, p900);
      color: map-get($theme, brand-white);
    }
  }
}
