// TODO: Deprecate use of banner class in favor of headings

.banner {
  background-color: $brand-black;
  color: $brand-white;
  padding-top: 20px;

  img {
    height: auto;
    max-width: 100%;
  }
}

.banner-header {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}

.banner-body {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}

@include media-breakpoint-up(sm) {
  .banner-header {
    font-size: 30px;
  }
}

@include media-breakpoint-up(md) {
  .banner-header {
    font-size: 44px;
  }

  .banner-body {
    font-size: 24px;
  }
}
