html {
  min-height: 100%;
  position: relative;
}

body {
  &.full-page {
    margin-bottom: $footer-height;
    // padding-top: $header-height;
  }

  &.full-page-no-header {
    margin-bottom: $footer-height;
    // padding-top: 0;
  }

  &.full-page-no-header-no-footer {
    margin-bottom: 0;
    // padding-top: 0;
  }
}

::selection {
  background-color: rgba($p200-orange, .99);
  color: $body-color;
}

:focus {
  outline-color: $p200-orange !important;
}
