.breadcrumb-container {
  background-color: $p100-grey;
  border-bottom: 1px solid $p200-grey;
  list-style: none;
  margin: 0 0 20px;
  padding: 20px 0;

  ol {
    margin: 0;
    padding: 0;

    > li {
      display: inline-block;
    }

    > li+li::before {
      color: $p300-grey;
      content: '\203A ';
      padding: 0 3px 0 0;
    }
  }

  .btn {
    line-height: initial;
  }
}
