.breadcrumb-container {
  background-color: $breadcrumb-bg;
  list-style: none;
  margin: 0 0 20px;
  padding: 20px 0;

  ol {
    margin: 0;
    padding: 0;

    > li {
      display: inline-block;
    }

    > li+li::before {
      color: $brand-gray;
      content: '/ ';
      padding: 0 5px;
    }
  }
}
