// TODO: These styles should be available directly in bootstrap without
// !important listed. Contour should be updated to use bootstrap variables
.btn-danger-inverse {
  background-color: $body-bg;
  border: 1px solid $btn-danger-border !important;
  color: $btn-danger-bg;
}

.btn-danger-inverse:hover,
.btn-danger-inverse:focus,
.btn-danger-inverse:active,
.btn-danger-inverse.active,
.btn-danger-inverse.disabled,
.btn-danger-inverse[disabled] {
  background-color: $btn-danger-bg;
  border: 1px solid $btn-danger-border !important;
  color: $body-bg !important;
}


.btn-primary-inverse {
  background-color: $brand-white;
  border: 1px solid $btn-primary-border;
  color: $btn-primary-bg;
}

.btn-primary-inverse:hover,
.btn-primary-inverse:focus,
.btn-primary-inverse:active,
.btn-primary-inverse.active,
.btn-primary-inverse.disabled,
.btn-primary-inverse[disabled] {
  background-color: $btn-primary-bg;
  border: 1px solid $btn-primary-border;
  color: $brand-white;
}

.btn-info-inverse {
  background-color: $brand-white;
  border: 1px solid $btn-info-border;
  color: $btn-info-bg;
}

.btn-info-inverse:hover,
.btn-info-inverse:focus,
.btn-info-inverse:active,
.btn-info-inverse.active,
.btn-info-inverse.disabled,
.btn-info-inverse[disabled] {
  background-color: $btn-info-bg;
  border: 1px solid $btn-info-border;
  color: $brand-white;
}
