.call-to-action {
  background-color: $p700;
  color: $brand-white;
  padding: 40px;

  &.dark {
    background-color: $brand-black;
  }

  a {
    &:not(.btn),
    &:not(.btn):hover,
    &:not(.btn):focus,
    &:not(.btn):active,
    &:not(.btn).active,
    &:not(.btn).disabled,
    &:not(.btn)[disabled] {
      color: $a100;
      font-weight: bold;
    }
  }

  .call-to-action-header {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
  }

  .call-to-action-body {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
  }

  .call-to-action-body:last-child {
    margin-bottom: 0;
  }
}

@include media-breakpoint-up(md) {
  .call-to-action {
    padding: 60px;

    .call-to-action-header {
      font-size: 44px;
    }

    .call-to-action-body {
      font-size: 24px;
    }
  }
}

.btn-call-to-action {
  backface-visibility: hidden; // Fix for transition flickering
  background-color: $brand-white;
  border-color: $brand-accent;
  border-radius: 40px;
  color: $brand-accent;
  overflow: hidden;
  transition: all .4s ease; // Fade to color for Chrome and Safari
}

.call-to-action {
  .btn-call-to-action {
    background-color: $a100;
    border-color: $brand-accent;
    color: $brand-accent-text;
  }
}

.btn-call-to-action:hover,
.btn-call-to-action:focus,
.btn-call-to-action:active,
.btn-call-to-action.active,
.btn-call-to-action.disabled,
.btn-call-to-action[disabled] {
  background-color: $a400;
  border: 1px solid $a700;
  color: $a200-text;
}

// TODO: Replace btn-call-to-danger
// .btn-call-to-danger {
//   backface-visibility: hidden; // Fix for transition flickering
//   background-color: $brand-white;
//   border-color: $btn-danger-border;
//   border-radius: 40px;
//   color: $btn-danger-border;
//   overflow: hidden;
//   transition: all .4s ease; // Fade to color for Chrome and Safari
// }

// .btn-call-to-danger:hover,
// .btn-call-to-danger:focus,
// .btn-call-to-danger:active,
// .btn-call-to-danger.active,
// .btn-call-to-danger.disabled,
// .btn-call-to-danger[disabled] {
//   background-color: $brand-danger-text;
//   border-color: $brand-danger-text;
//   color: $brand-white;
// }

.btn-call-to-default {
  backface-visibility: hidden; // Fix for transition flickering
  background-color: $p200-grey;
  border-color: $p200-grey;
  border-radius: 40px;
  color: $p600-grey;
  overflow: hidden;
  transition: all .4s ease; // Fade to color for Chrome and Safari
}

.btn-call-to-default:hover,
.btn-call-to-default:focus,
.btn-call-to-default:active,
.btn-call-to-default.active,
.btn-call-to-default.disabled,
.btn-call-to-default[disabled] {
  background-color: $p200-grey;
  border-color: $p200-grey;
  color: $p600-grey;
}

// TODO: Replace btn-call-to-info
// .btn-call-to-info {
//   backface-visibility: hidden; // Fix for transition flickering
//   background-color: $brand-white;
//   border-color: $btn-primary-border;
//   border-radius: 40px;
//   color: $btn-primary-border;
//   overflow: hidden;
//   transition: all .4s ease; // Fade to color for Chrome and Safari
// }

// .btn-call-to-info:hover,
// .btn-call-to-info:focus,
// .btn-call-to-info:active,
// .btn-call-to-info.active,
// .btn-call-to-info.disabled,
// .btn-call-to-info[disabled] {
//   background-color: $brand-primary-text;
//   border-color: $brand-primary-text;
//   color: $brand-white;
// }
