.call-to-action {
  background-color: $p700-green;
  color: $brand-white;
  padding: 40px;

  &.dark {
    background-color: $brand-black;
  }

  a {
    &:not(.btn),
    &:not(.btn):hover,
    &:not(.btn):focus,
    &:not(.btn):active,
    &:not(.btn).active,
    &:not(.btn).disabled,
    &:not(.btn)[disabled] {
      color: $a100-light-blue;
      font-weight: bold;
    }
  }

  .call-to-action-header {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
  }

  .call-to-action-body {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
  }

  .call-to-action-body:last-child {
    margin-bottom: 0;
  }
}

@include media-breakpoint-up(md) {
  .call-to-action {
    padding: 60px;

    .call-to-action-header {
      font-size: 44px;
    }

    .call-to-action-body {
      font-size: 24px;
    }
  }
}
