.call-to-action {
  background-color: $brand-success;
  color: $brand-white;
  padding: 40px;

  &.dark {
    background-color: $brand-black;
  }

  a:not(.btn) {
    color: $cg4-blue-bg;
  }

  a:not(.btn):hover,
  a:not(.btn):focus,
  a:not(.btn):active,
  a:not(.btn).active,
  a:not(.btn).disabled,
  a:not(.btn)[disabled] {
    color: $cg4-blue-text;
  }

  .call-to-action-header {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
  }

  .call-to-action-body {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
  }
}

@media screen and (min-width: $screen-md-min) {
  .call-to-action {
    padding: 80px;

    .call-to-action-header {
      font-size: 44px;
    }
    .call-to-action-body {
      font-size: 24px;
    }
  }
}

.btn-call-to-action {
  border-radius: 40px;
  min-width: 200px;
  max-width: 500px;
  width: 100%;
  color: $brand-primary !important;
  border-color: $brand-primary !important;
  background-color: $brand-white !important;
  -webkit-transition: all .4s ease; /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.btn-call-to-action:hover,
.btn-call-to-action:focus,
.btn-call-to-action:active,
.btn-call-to-action.active,
.btn-call-to-action.disabled,
.btn-call-to-action[disabled] {
  color: $brand-white !important;
  background-color: $brand-primary-text !important;
  border-color: $brand-primary-text !important;
}

.btn-call-to-danger {
  border-radius: 40px;
  min-width: 200px;
  max-width: 500px;
  width: 100%;
  color: $btn-danger-border !important;
  border-color: $btn-danger-border !important;
  background-color: $brand-white !important;
  -webkit-transition: all .4s ease; /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.btn-call-to-danger:hover,
.btn-call-to-danger:focus,
.btn-call-to-danger:active,
.btn-call-to-danger.active,
.btn-call-to-danger.disabled,
.btn-call-to-danger[disabled] {
  color: $brand-white !important;
  background-color: $brand-danger-text !important;
  border-color: $brand-danger-text !important;
}

.btn-call-to-default {
  border-radius: 40px;
  min-width: 200px;
  max-width: 500px;
  width: 100%;
  color: $gray-light !important;
  border-color: $gray-lighter !important;
  background-color: $gray-lighter !important;
  -webkit-transition: all .4s ease; /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.btn-call-to-default:hover,
.btn-call-to-default:focus,
.btn-call-to-default:active,
.btn-call-to-default.active,
.btn-call-to-default.disabled,
.btn-call-to-default[disabled] {
  color: $gray-light !important;
  background-color: $gray-lighter !important;
  border-color: $gray-lighter !important;
}

.btn-call-to-info {
  border-radius: 40px;
  min-width: 200px;
  max-width: 500px;
  width: 100%;
  color: $btn-info-border !important;
  border-color: $btn-info-border !important;
  background-color: $brand-white !important;
  -webkit-transition: all .4s ease; /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.btn-call-to-info:hover,
.btn-call-to-info:focus,
.btn-call-to-info:active,
.btn-call-to-info.active,
.btn-call-to-info.disabled,
.btn-call-to-info[disabled] {
  color: $brand-white !important;
  background-color: $brand-info-text !important;
  border-color: $brand-info-text !important;
}
