.code-container {
  margin: 24px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .code-container {
    margin: 48px 0;
  }
}

.code-command,
.code-command-blank {
  border: 1px solid $gray-lighter;
  border-radius: 5px;
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  font-size: 16px;
  line-height: 2;
  padding: 3px 5px;
  white-space: normal;
}

@media screen and (min-width: 768px) {
  .code-command,
  .code-command-blank {
    font-size: 21px;
  }
}

.code-command::before {
  color: $gray-lighter;
  content: '\e205';
  font-family: 'Glyphicons Halflings';
}

.code-dark {
  background-color: $brand-black;
  color: $brand-white;
}
