// Container Colors

@mixin white-links {
  a {
    color: $brand-white;
  }
}

.container-primary {
  @include white-links;
  background-color: $brand-primary;
  color: $brand-primary-text;
}

.container-info {
  @include white-links;
  background-color: $brand-info;
  color: $brand-info-text;
}

.container-black {
  @include white-links;
  background-color: $brand-black;
  color: $brand-white;
}


// Container Sizes

@mixin remove-element-margins {
  h1, h2, h3, h4, h5, h6, p, code, pre {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  margin-bottom: -10px;

  @media screen and (min-width: $screen-sm-min) {
    h1, h2, h3, h4, h5, h6, p, code, pre {
      margin-top: 0px;
      margin-bottom: 20px;
    }
    margin-bottom: -20px;
  }
}

.main-container {
  @include remove-element-margins;
  padding: 40px;
}

@media screen and (min-width: $screen-sm-min) {
  .main-container {
    padding: 50px;
  }
}

@media screen and (min-width: $screen-md-min) {
  .main-container {
    padding: 60px;
  }
}

@media screen and (min-width: $screen-lg-min) {
  .main-container {
    padding: 80px;
  }
}

.slim-container {
  @include remove-element-margins;
  padding: 20px 40px;
}

@media screen and (min-width: $screen-sm-min) {
  .slim-container {
    padding: 25px 50px;
  }
}

@media screen and (min-width: $screen-md-min) {
  .slim-container {
    padding: 30px 60px;
  }
}

@media screen and (min-width: $screen-lg-min) {
  .slim-container {
    padding: 40px 80px;
  }
}
