.content-spacer {
  display: block;
  height: 1px;
  margin: 40px 0;
}

@media screen and (min-width: $screen-sm-min) {
  .content-spacer {
    margin: 60px 0;
  }
}

@media screen and (min-width: $screen-md-min) {
  .content-spacer {
    margin: 80px 0;
  }
}

.small-spacer {
  display: block;
  height: 1px;
  margin: 10px 0;
}

hr {
  &.divider-xs,
  &.divider-sm,
  &.divider-md {
    border: 0;
    border-top: 1px solid $brand-gray;
    height: 0;
    width: 60%;
  }

  &.divider-xs {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  &.divider-sm {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  &.divider-md {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

@media screen and (min-width: $screen-sm-min) {
  hr {
    &.divider-sm {
      margin-bottom: 20px;
      margin-top: 20px;
    }

    &.divider-md {
      margin-bottom: 40px;
      margin-top: 40px;
    }
  }
}
