@keyframes fadein {
  from {
    opacity: 0;
    top: -60px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    top: 0;
  }

  to {
    opacity: 0;
    top: -60px;
  }
}

.flash-bar {
  background-color: $brand-black;
  color: $brand-white;
  left: 0;
  padding: $spacer;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  visibility: hidden;
  z-index: $zindex-tooltip;

  &.flash-bar-show {
    animation: fadein 500ms, fadeout 500ms 4s;
    animation-fill-mode: forwards;
    visibility: visible;
  }
}
