// Defines a sticky footer

.footer-container {
  background-color: $brand-black;
  bottom: 0;
  color: $brand-white;
  font-weight: 300;
  height: $footer-height;
  position: absolute;
  width: 100%;
}

.footer {
  height: $footer-height;
  padding: 40px 0;
}
