.footer-container {
  background-color: $p100-grey;
  bottom: 0;
  height: $footer-height;
  position: absolute;
  width: 100%;

  .footer {
    height: $footer-height;
    padding: 40px 0;
  }

  a {
    color: $body-color;

    &:hover,
    &:focus,
    &:active,
    &.active,
    &.disabled,
    &[disabled] {
    }
  }

  img {
    @include ignore-selection;
  }
}

.footer-container-dark {
  a {
    &:hover,
    &:focus,
    &:active,
    &.active,
    &.disabled,
    &[disabled] {
    }
  }
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg.footer-container-dark {
    background-color: map-get($theme, p900);
    color: map-get($theme, brand-white);

    a {
      color: map-get($theme, brand-white);
    }
  }
}
