.dashboard-heading {
  font-size: 2rem;
  margin-bottom: $spacer;
  line-height: 1.2;

  @include media-breakpoint-up(md) {
    font-size: 2.5rem;
  }
}

.page-heading {
  font-weight: normal !important;
  position: relative;
  text-shadow: 0 2px 3px $standard-shadow-color;
  word-break: break-word;

  .btn,
  .dropdown-menu {
    text-shadow: none;
  }
}

.header-container {
  background-image: asset-url("221_old.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::before {
    background-color: rgba($p500-green, .8);
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  background-color: $header-bg;
  color: $brand-white;
  padding: 20px 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  h1 {
    font-size: 30px;

    @include media-breakpoint-up(sm) {
      font-size: 38px;
    }

    @include media-breakpoint-up(md) {
      font-size: 41px;
    }
  }
}

.header-container-hide {
  h1 {
    visibility: hidden;
  }
}

#top-menu {
  .navbar-show-scrolled {
    display: none;
  }

  &.navbar-scrolled {
    .display-small-scrolled {
      display: block;
    }

    .display-lg-scrolled {
      display: none;
    }

    .navbar-hide-scrolled {
      display: none;
    }

    .navbar-show-scrolled {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex: 1 1 70%;
    }

    @include media-breakpoint-up(lg) {
      #menu-body {
        // flex: 0 1 auto; //same as initial.
        flex: initial;
        // flex: 1 1 30%;
        white-space: nowrap;
      }

      .display-small-scrolled {
        display: none;
      }
    }
  }
}
