.anchor-top {
  display: block;
  height: 0;
  position: relative;
  top: -($header-height);
  width: 0;
}

.link-unstyled {
  color: $text-color;

  &:hover,
  &:focus,
  &:active {
    color: $text-color;
    text-decoration: none;
  }
}

.no-underline:focus,
.no-underline:hover {
  outline: none;
  text-decoration: none;
}
