.link-accent {
  color: $p500-green;

  &:hover,
  &:focus,
  &:active {
    color: darken($p500-green, 15%);
    text-decoration: none;
  }
}

.link-muted {
  color: $text-muted;

  &:hover,
  &:focus,
  &:active {
    color: $text-muted;
    text-decoration: none;
  }
}

.link-unstyled {
  color: $body-color;

  &:hover,
  &:focus,
  &:active {
    color: $body-color;
    text-decoration: none;
  }
}

.no-underline:focus,
.no-underline:hover {
  outline: none;
  text-decoration: none;
}

.link-inherit {
  color: inherit;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
  }
}

.link-blend {
  color: $body-color;

  &:hover,
  &:focus,
  &:active {
    // color: $body-color;
    // text-decoration: none;
  }
}
