.link-accent {
  color: $p500;

  &:hover,
  &:focus,
  &:active {
    color: darken($p500, 15%);
    text-decoration: none;
  }
}

.link-muted {
  color: $text-muted;

  &:hover,
  &:focus,
  &:active {
    color: $text-muted;
    text-decoration: none;
  }
}

.link-unstyled {
  color: $text-color;

  &:hover,
  &:focus,
  &:active {
    color: $text-color;
    text-decoration: none;
  }
}

.no-underline:focus,
.no-underline:hover {
  outline: none;
  text-decoration: none;
}
