// This is for %ul elements
.sidebar-menu {
  list-style: none;
  margin-bottom: 0;
  padding: 10px 0;

  li {
    display: block;
    position: relative;

    a {
      border-left: 2px solid transparent;
      display: block;
      overflow: hidden;
      padding: 7px 15px;
      position: relative;
      text-overflow: ellipsis;
    }

    .active,
    a:hover,
    a:focus {
      text-decoration: none;
    }

    .link-disabled {
      text-decoration: none;
    }

    &.sidebar-menu-header {
      font-size: 85%;
      font-weight: bold;
      letter-spacing: 1px;
      margin-bottom: 5px;
      padding-left: 15px;
      padding-right: 15px;
      font-variant: small-caps;
    }

    // Add a margin to the top of a menu header if it has other menu items
    // preceding it.
    + .sidebar-menu-header {
      margin-top: 20px;
    }
  }

  &.sidebar-menu-shadow {
    border-radius: 3px;
    box-shadow: 0 1px 5px transparent;
  }
}

.badge-sidebar {
  background-color: map-get($theme-colors, primary);
  color: $brand-white;
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .bg-landing {
      background-image: linear-gradient(180deg, map-get($theme, footer-bg), map-get($theme, body-focus) 40%, map-get($theme, footer-bg));
      background-color: map-get($theme, p900);
      color: map-get($theme, brand-white);
    }


    .sidebar-menu {
      li {
        .active,
        a:hover,
        a:focus {
          background-color: map-get($theme, p600);
          border-color: map-get($theme, p800);
          color: map-get($theme, brand-white);

          > .badge-sidebar {
            background-color: map-get($theme, brand-white);
            color: map-get($theme, p800);
          }
        }

        .link-disabled {
          background-color: map-get($theme, brand-white);
          color: $text-muted;

          &:hover,
          &:focus {
            border-color: $p50-grey;
            background-color: $p50-grey;
            color: $text-muted;
          }
        }
      }

      &.sidebar-menu-shadow {
        background-color: map-get($theme, brand-white);
        box-shadow: 0 1px 5px map-get($theme, box-shadow-color);
      }
    }

  }
}
