.staging-server-container {
  background-image: linear-gradient(
    -45deg,
    $brand-black 25%,
    $p500-yellow 25%,
    $p500-yellow 50%,
    $brand-black 50%,
    $brand-black 75%,
    $p500-yellow 75%,
    $p500-yellow);
  background-size: 2rem 2rem;
  padding: $spacer;
}

.staging-server {
  background-color: $p500-yellow;
  color: $brand-black;
  padding: $spacer;
  text-align: center;
}
