- @title = "Edit Tool: #{@tool.name_was}"

- content_for :header_simple, @tool.name_was

- content_for :breadcrumbs do
  %ol
    %li= link_to "Tools", admin_tools_path
    %li= link_to @tool.name_was, admin_tool_path(@tool)
    %li Edit

.dashboard-container= render "admin/tools/form", tool: @tool
