- @title = "New Tool"

- content_for :header, @title

- content_for :breadcrumbs do
  %ol
    %li= link_to "Tools", admin_tools_path
    %li.breadcrumb-muted new

.dashboard-container= render "admin/tools/form", tool: @tool
