.card-deck
  .card.mb-3{ style: "min-width: 18rem;" }
    .card-header.bg-dark.text-white
      .text-center{ style: "font-size: 2rem;" }
        Findable,
        Accessible,
        Interoperable,
        Re-usable
    .card-body.bg-dark.text-white
      The NSRR has been designed from the ground up to adhere to the
      %span.text-accent FAIR Guiding Principles
      to optimize scientific data management and stewardship.

    .card-footer.text-center.bg-white
      = link_to fair_path do
        FAIR Guiding Principles
        %i.fa.fa-caret-right
