<div class="horizontal-fade" style="position:relative;">
  <div class="jumbotron vertical-fade" style="margin-bottom:0px;border-radius: 0px;">
    <h1>National Sleep Research Resource</h1>
    <p class="lead"><%= link_to 'Start your exploration...', datasets_path %></p>
    <div style="background-image:url(<%= asset_path('home.jpg') %>);background-repeat: no-repeat;z-index:-2;top:0;right:0;bottom:0;left:0;position:absolute"></div>
  </div>
</div>

<div class="jumbotron">
  <p class="lead-paragraph">
    Thank you for your submission.
  </p>
</div>

<hr class="divider-md" />

<div class="row">
  <div class="col-sm-6">
    <%= link_to "<span class='glyphicon glyphicon-th-list'></span> Review My Submissions".html_safe, triage_path, class: 'btn btn-lg btn-default btn-block' %>
  </div>
  <div class="col-sm-6">
    <%= link_to "<span class='glyphicon glyphicon-print'></span> Print Copy of Agreement".html_safe, '#', data: { object: 'suppress-click' }, class: 'btn btn-lg btn-primary btn-block' %>
  </div>
</div>

<% @footer_img = 'footer.jpg' %>
