%span.text-muted= broadcast.publish_date.strftime '%B %-d, %Y'
by
= broadcast.user.forum_name
.broadcast= simple_markdown broadcast.description, false

- if broadcast.image.size > 0
  = image_tag blog_post_image_path(broadcast), style: 'max-width:100%;max-height:140px'
