- @title = 'Blog'
%h1.brand
  NSRR
  = @title

.row
  .col-md-9
    - @broadcasts.each do |broadcast|
      %h2= link_to broadcast.title, blog_post_path(broadcast)
      = render 'blog/show', broadcast: broadcast
    .center= paginate @broadcasts, theme: 'contour'
  .col-md-3

