= form_with model: @data_request, url: agreement_path(@data_request), local: true do |form|
  = render "data_requests/datasets_selection", data_request: @data_request

  = form.submit nil, class: "btn btn-primary"
