<div class="bs-callout">
  <p>
    You must complete all sections listed below of the NSRR Data Access and Use Agreement.
  </p>
  <p>
    <ul>
      <li><b>Page 1:</b>
        <ul>
          <li>Name at Top by "Data User"</li>
          <li>1. Data User information</li>
          <li>2. Specific Purpose</li>
        </ul>
      </li>
      <li><b>Page 4:</b>
        <ul>
          <li>Sharing Information - Check One Box</li>
        </ul>
      </li>
      <li><b>Page 5:</b>
        <ul>
          <li>SIGNATURE</li>
          <li>Title, Address, Email, Telephone, Fax, and Date</li>
          <li>Date of Project IRB/Ethics Board Review</li>
        </ul>
      </li>
    </ul>
  </p>
</div>
