<div class="bs-callout">
  <p>
    <% dua_name = 'DAUA-for-Access-to-BWH-National-Sleep-Research-Resource-20140314.docx' %>
    <%= link_to root_path + dua_name, class: 'btn btn-success' do %>
      <span class="glyphicon glyphicon-save"></span>
      NSRR Data Access and Use Agreement Template
    <% end %>
    <%= number_to_human_size File.size?(File.join('public', dua_name)) %>
  </p>
</div>
