- @title = "IRB Assistance"

- content_for :header do
  .header-container
    .container
      %h1.page-heading.text-center{ style: "margin-bottom: 20px;" }
        Brigham and Women's Hospital
      .center
        %p.lead
          Basic Information On Submitting a Proposed NSRR Project to Your Local
          IRB

.dashboard-container-narrow
  %p
    We are required to obtain evidence that your project/purpose has been
    %strong
      %i
        %u
          reviewed
    by your local Institutional Review Board (IRB)/Ethics Committee. Most local
    IRB reviews will likely result in a
    %u Determination Letter
    stating the proposed research/project is exempt due to:

  %ul
    %li
      not meeting the criteria/definition of Human Subject Research; and
    %li
      no direct or indirect contact with an individual or interpersonal contact
      with an individual; and
    %li
      the information obtained from the activity cannot be linked, or associated
      to a particular individual, and
    %li
      the identity of the person may not be ascertained by the investigator under
      45 CFR46 or 21 CFR 56.

  %p
    We suggest you file a request for determination giving the description of your
    project along with the following information about the NSRR site – noting that
    all data available on the site has been de-identified.

  %p
    The National Sleep Research Resource (NSRR) site is a comprehensive easily
    accessible, well-annotated national repository of de-identified sleep data,
    including bio-physiological signals, which are linked to risk factor and
    outcome data for participants in major National Institute of Health studies.
    Also available to the research community on the site are data integration and
    signal processing tools.

  %p
    If your submission results in a letter or memo from the IRB/Ethics Committee
    stating they determined this is not human research and does not require
    further IRB review, we will accept that letter/memo. Attach that document to
    the signed DAUA and access will be approved. Based on the details of your
    project and local IRB rules and procedures, your submission may result in a
    full IRB review and that approval letter would be attached to the DAUA.

.center
  = link_to "JavaScript:window.close()", class: "btn btn-light btn-lg btn-shadow" do
    %i.fa.fa-caret-left
    Back to my Submission
