<div class="horizontal-fade" style="position:relative;">
  <div class="jumbotron vertical-fade-subtle" style="margin-bottom:0px;border-radius: 0px;">
    <h1>Looking to <span class="glyphicon glyphicon-cloud-download"></span> download data?</h1>

    <div style="background-image:url(<%= asset_path('datasets-header.jpg') %>);background-repeat: no-repeat;z-index:-2;top:0;right:0;bottom:0;left:0;position:absolute"></div>
  </div>
</div>


<div class="jumbotron">
  <%= link_to submissions_start_path, class: 'btn btn-lg btn-success' do %>Get started now! <span class="glyphicon glyphicon-arrow-right"></span><% end %>
</div>


<p class="lead" style="text-align:center">
  You are about to start a simple process to gain access to terabytes of data on the NSRR.
</p>

<p class="lead" style="text-align:center">
  This <strong>quick</strong> process guides you through <strong>several short steps</strong> of the NSRR Data Use Agreement and IRB review process.
</p>

<hr class="divider-md" />

<p class="lead" style="text-align:center">
  <strong>Too much you say?</strong>
</p>

<p class="lead" style="text-align:center">
  You can "Save and Exit" the process at any point, pick up where you left off later, and "Submit your Application" when you feel you're ready!
</p>

<p class="lead" style="text-align:center">
  We're here to help you through the process, email us at any point if you have questions: <%= mail_to 'support@sleepdata.org' %>
</p>

<% @footer_img = 'datasets-footer.jpg' %>
