<% if @agreement.irb.size > 0 %>
  <%= link_to "<span class='glyphicon glyphicon-file'></span> #{@agreement.irb.to_s.split('/').last}".html_safe, download_irb_agreement_path(@agreement), target: '_blank' %>
  <tt><%= number_to_human_size(@agreement.irb.size) %></tt>
<% end %>
