<dl class="dl-horizontal">
  <dt>Terms and Conditions</dt>
  <dd>
    <% if @agreement.has_read_step5? %>
      <span class="text-success"><span class="glyphicon glyphicon-ok"></span> Has read and accepted the Step 5 terms and conditions.</span>
    <% else %>
      <span class="text-danger"><span class="glyphicon glyphicon-remove"></span> Has NOT read and accepted the Step 5 terms and conditions.</span>
    <% end %>
  </dd>
</dl>
