<% if @agreement.has_read_step3? %>
  <p class="lead">Has read and accepted the Step 3 terms and conditions.</p>
<% else %>
  <p class="lead text-danger">Has NOT read or accepted the Step 3 terms and conditions.</p>
<% end %>
