<% if @agreement.irb_evidence_type == 'has_evidence' %>
  <dl class="dl-horizontal">
    <dt>IRB Evidence</dt>
    <dd>
      <%= render partial: 'agreements/proof/irb_file_download' %>
    </dd>
  </dl>
<% else %>
  <p class="lead">Has requested the NSRR Internal Review Committee to conduct the review.</p>
<% end %>
