body {
  padding-top: 51px;
  padding-bottom: 0px;
}

.navbar-nav > .active > a, .navbar-nav > .active > a:hover {
  color: #3c763d !important;
  background-color: #dff0d8 !important;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.nav-justified {
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.nav-justified > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #777;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #d5d5d5;
  background-color: #e5e5e5;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%);
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 );
  background-image: linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%);
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

.nav-justified > li > a {
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-left: 1px solid #fff;
    border-right: 1px solid #d5d5d5;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-radius: 0 5px 5px 0;
    border-right: 0;
  }
}

pre.code {
  margin: 10px 0px;
}


.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 40px auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-top: 0px;
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="email"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.breadcrumb {
  font-weight: 300;
}

.file-display {
  position: relative;
  padding: 30px 15px 15px 15px;
  word-wrap: break-word;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.file-display .table th[align=left] {
  text-align: left;
}

.file-display .table th[align=right] {
  text-align: right;
}

.file-display .table th[align=center] {
  text-align: center;
}

.file-display-after, .file-display-right-after, .file-display-right-bottom-after, .file-display-right-middle-after {
  position: absolute;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 300;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.file-display-after {
  left: -1px;
}

.file-display-after, .file-display-right-after, .file-display-right-middle-after {
  top: -1px;
}

.file-display-right-bottom-after {
  bottom: -1px;
}

.file-display-right-after, .file-display-right-bottom-after, .file-display-right-middle-after {
  right: -1px;
}

.file-display-after, .file-display-right-bottom-after {
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}

.file-display-right-after {
  -webkit-border-radius: 0 4px 0 4px;
  -moz-border-radius: 0 4px 0 4px;
  border-radius: 0 4px 0 4px;
}

.file-display-right-middle-after {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.file-display img {
  max-width: 100%;
}

.mono-display {
  position: relative;
  display: block;
  padding: 30px 15px 15px 15px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  word-wrap: break-word;
  border: 1px solid #cccccc;
  border-radius: 4px;

  white-space: pre-wrap;

  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.page-list-container {
  /*max-height:360px;*/
  overflow-y:scroll;
  margin-bottom: 20px;
}

.file-list-container {
  max-height: 740px;
  overflow-y:scroll;
  margin-bottom: 20px;
}

.shadow-inset-bottom {
  -moz-box-shadow:    inset 0 -10px 10px -10px rgba(0,0,0,0.4);
  -webkit-box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,0.4);
   box-shadow:        inset 0 -10px 10px -10px rgba(0,0,0,0.4);
}

.shadow-inset-top {
  -moz-box-shadow:    inset 0  10px 10px -10px rgba(0,0,0,0.4);
  -webkit-box-shadow: inset 0  10px 10px -10px rgba(0,0,0,0.4);
   box-shadow:        inset 0  10px 10px -10px rgba(0,0,0,0.4);
}

.shadow-inset-bottom.shadow-inset-top {
  -moz-box-shadow:    inset 0  10px 10px -10px rgba(0,0,0,0.4),
                      inset 0 -10px 10px -10px rgba(0,0,0,0.4);
  -webkit-box-shadow: inset 0  10px 10px -10px rgba(0,0,0,0.4),
                      inset 0 -10px 10px -10px rgba(0,0,0,0.4);
   box-shadow:        inset 0  10px 10px -10px rgba(0,0,0,0.4),
                      inset 0 -10px 10px -10px rgba(0,0,0,0.4);
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  cursor: pointer;
}

.nav-tabs > li.success > a, .nav-tabs > li.success > a:hover, .nav-tabs > li.success > a:focus {
  color: #468847;
  cursor: pointer;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  border-bottom-color: transparent;
}

.nav-tabs > li.danger > a, .nav-tabs > li.danger > a:hover, .nav-tabs > li.danger > a:focus {
  color: #b94a48;
  cursor: pointer;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  border-bottom-color: transparent;
}

.nav-tabs > li.info > a, .nav-tabs > li.info > a:hover, .nav-tabs > li.info > a:focus {
  color: #3a87ad;
  cursor: pointer;
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
  border-bottom-color: transparent;
}

.nav-tabs > li.pull-right > a {
  margin-left: 2px;
  margin-right: 0px;
}

.panel-gold {
  border-color: #FFD700;
}

.panel-gold > .panel-heading {
  color: #333333;
  background-color: #FFF4B6;
  border-color: #FFD700;
}

.row-gold, .row-gold td {
  background-color: #FFF4B6 !important;
}

.panel-gold > .panel-footer {
  border-color: #FFD700;
}

.panel-hover.panel-default:hover {
  border: 1px solid #3e3e3e;
  cursor: pointer;
  -webkit-box-shadow: -10px 10px 10px rgba(0,0,0,.05);
     -moz-box-shadow: -10px 10px 10px rgba(0,0,0,.05);
          box-shadow: -10px 10px 10px rgba(0,0,0,.05);
}

.panel-hover.panel-success:hover {
  border: 1px solid #5cb85c;
  cursor: pointer;
  -webkit-box-shadow: -10px 10px 10px rgba(0,0,0,.05);
     -moz-box-shadow: -10px 10px 10px rgba(0,0,0,.05);
          box-shadow: -10px 10px 10px rgba(0,0,0,.05);
}

.panel-hover.panel-info:hover {
  border: 1px solid #5bc0de;
  cursor: pointer;
  -webkit-box-shadow: -10px 10px 10px rgba(217,237,247,.5);
     -moz-box-shadow: -10px 10px 10px rgba(217,237,247,.5);
          box-shadow: -10px 10px 10px rgba(217,237,247,.5);
}

.panel-hover.panel-gold:hover {
  border: 1px solid #DAA520;
  cursor: pointer;
  -webkit-box-shadow: -10px 10px 10px rgba(255, 244, 182,.5);
     -moz-box-shadow: -10px 10px 10px rgba(255, 244, 182,.5);
          box-shadow: -10px 10px 10px rgba(255, 244, 182,.5);
}

h2.markdown-header {
  padding-bottom: 9px;
  margin: 20px 0 20px;
  border-bottom: 1px solid #eeeeee;
}

.welcome-box {
  border: 1px solid #ededed;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  /*margin-bottom: 54px;*/
  margin: 30px 0px;
}

.welcome-even {
  background-color: #F7FFEF; /* #ededed; */
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.welcome-odd-color {
  background-color: #EFF9FF; /* #ededed; */
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.welcome-odd {
  border: 1px solid transparent;
}


.user-panel {
  min-height: 140px;
  padding: 20px 20px 10px 20px;
  margin: 40px auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.user-panel h4 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.btn-success-inverse {
  color: #4cae4c !important;
  border-color: #4cae4c !important;
  background-color: white !important;
}

.btn-success-inverse:hover,
.btn-success-inverse:focus,
.btn-success-inverse:active,
.btn-success-inverse.active,
.btn-success-inverse.disabled,
.btn-success-inverse[disabled] {
  color: #fff !important;
  background-color: #47a447 !important;
  border-color: #398439 !important;
}

.tool-web {
  background-color: #D8FFB1 !important;
}
.tool-matlab {
  background-color: #FDC7A1 !important;
}
.tool-r {
  background-color: #FC9FA1 !important;
}
.tool-java {
  background-color: #FFFFA1 !important;
}
.tool-utility {
  background-color: #FFFFFF !important;
}
.tool-ruby {
  background-color: #CC342D !important;
}
.tool-ruby a {
  color: #FFFFFF;
}

.panel-success > .panel-footer {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.panel-primary > .panel-footer {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}

.panel-footer > a {
  color: inherit;
}


/* Mainly for variables and infographics */


.jumbotron-pagination {
  position: absolute;
}

.jumbotron-pagination .pagination > li:first-child > a,
.jumbotron-pagination .pagination > li:first-child > span {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 0px;
}

.jumbotron-pagination .pagination > li:last-child > a,
.jumbotron-pagination .pagination > li:last-child > span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
}

.jumbotron-right-after, .jumbotron-left-after {
  top: 0px;
}

.jumbotron-right-bottom-after, .jumbotron-left-bottom-after, .jumbotron-pagination {
  bottom: 0px;
}

.jumbotron-right-after, .jumbotron-right-bottom-after, .jumbotron-pagination {
  right: 0px;
}

.jumbotron-left-after, .jumbotron-left-bottom-after {
  left: 0px;
}

.jumbotron-right-after, .jumbotron-right-bottom-after, .jumbotron-left-after, .jumbotron-left-bottom-after {
  position: absolute;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 300;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.jumbotron-right-after, .jumbotron-left-bottom-after, .jumbotron-pagination {
  -webkit-border-radius: 0 4px 0 4px;
  -moz-border-radius: 0 4px 0 4px;
  border-radius: 0 4px 0 4px;
}

.jumbotron-left-after, .jumbotron-right-bottom-after {
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}

tr.banned td, .label-banned {
  background-color:#333 !important;
  color:#fff;
}

.code-container {
  margin: 24px 0px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .code-container {
    margin: 48px 0px;
  }
}

.code-command {
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  color: #333;
  font-weight: 200;
  line-height: 2;
  font-size: 16px;
  border: 1px solid #dedede;
  padding: 3px 5px;
  white-space: normal;
}

@media screen and (min-width: 768px) {
  .code-command {
    font-size: 21px;
  }
}

.code-command::before {
  content: '$';
  color: #dedede;
}

.lead-paragraph {
  font-size: 16px;
  margin: 0px 20px 20px 20px;
  font-weight: 400;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .lead-paragraph {
    font-size: 21px;
  }
}

hr.divider-sm, hr.divider-md {
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
  border: 0;
}

hr.divider-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  hr.divider-sm {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

hr.divider-md {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  hr.divider-md {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 236px;
}
.sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 236px;
}

.sticky-footer .text-muted {
  margin: 20px 0;
}
