.step {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
  padding: 5px 20px;
  margin: 0px 0px 10px 0px;
  border: 2px solid transparent;
}

.step-warning {
  border-color: $alert-warning-border !important;
  background-color: $alert-warning-bg !important;
}

.step-success {
  border-color: $alert-success-border !important;
  // background-color: $alert-success-bg !important;
}

.step-info {
  border-color: $alert-info-border !important;
  background-color: $alert-info-bg !important;
}
