// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag-checkbox {
  font-weight: 200;
  padding: 6px 10px 6px 25px;
  font-size: 13px;
  line-height: 18px;
  background-color: #f9f9f9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
  -webkit-transition: all .4s ease;   /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
  -webkit-filter: grayscale(100%);
  color: #fff;
}

.tag-checkbox:hover, .tag-checkbox.tag-selected {
  -webkit-filter: grayscale(0%);
}
