.topics-container {
  // background-color: #FFF;
  padding: 0px;
  margin-left: -5vw;
  margin-right: -5vw;
}

@media screen and (min-width: $screen-sm-min) {
  .topics-container {
    padding: 20px;
    margin: 0px;
    border: 1px solid #AEAEAE;
    background-color: #FFF;
    background-color: rgba(255, 255, 255, 0.25);
  }
}
