.horizontal-fade {
  background-color: white;
  background: -webkit-linear-gradient(left, white, rgba(255,255,255,0), white);
  background:      -o-linear-gradient(right, white, rgba(255,255,255,0), white);
  background:    -moz-linear-gradient(right, white, rgba(255,255,255,0), white);
  background:         linear-gradient(to right, white, rgba(255,255,255,0), white);
}

.vertical-fade {
  background-color: white;
  background: -webkit-linear-gradient(rgba(255,255,255,0), white, white, white);
  background:      -o-linear-gradient(rgba(255,255,255,0), white, white, white);
  background:    -moz-linear-gradient(rgba(255,255,255,0), white, white, white);
  background:         linear-gradient(rgba(255,255,255,0), white, white, white);
}

.vertical-fade-subtle {
  background-color: white;
  background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0.90), white);
  background:      -o-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0.90), white);
  background:    -moz-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0.90), white);
  background:         linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0.90), white);
}

.vertical-fade-up {
  background-color: white;
  background: -webkit-linear-gradient(white, rgba(255,255,255,0.75), rgba(255,255,255,0), rgba(255,255,255,0));
  background:      -o-linear-gradient(white, rgba(255,255,255,0.75), rgba(255,255,255,0), rgba(255,255,255,0));
  background:    -moz-linear-gradient(white, rgba(255,255,255,0.75), rgba(255,255,255,0), rgba(255,255,255,0));
  background:         linear-gradient(white, rgba(255,255,255,0.75), rgba(255,255,255,0), rgba(255,255,255,0));
}
