.col-12.col-md-3.col-xl-2.sidebar-wrapper
  .sidebar
    .sidebar-header.d-flex.align-items-center
      .mr-auto
        %strong= @organization.name

      %button.btn-link.sidebar-header-toggle.d-md-none.p-0.ml-3{ type: "button", data: { toggle: "collapse", target: "#sidebar-nav-wrapper" }, aria: { controls: "sidebar-nav-wrapper", expanded: "false", label: "Toggle docs navigation" } }
        %i.fa.fa-bars.fa-2x

    - groups = [{name: "DAUA", url: legal_templates_organization_path(@organization), docs: [{ name: "Part 1", url: legal_template_three_organization_path(@organization) },{ name: "Part 2", url: legal_template_four_organization_path(@organization) },{ name: "Part 3", url: legal_template_five_organization_path(@organization) }] }]
    - random_number = rand(groups.size)

    #sidebar-nav-wrapper.sidebar-nav-wrapper.collapse
      %nav.sidebar-nav
        - groups.each_with_index do |group, group_index|
          .sidebar-nav-group{ class: random_number == group_index || true ? "active" : nil }
            %a.sidebar-nav-group-link{ href: group.dig(:url) }
              = group.dig(:name)

            - if group.dig(:docs).present?
              - random_docs_number = rand(group.dig(:docs).size)
              %ul.nav.sidebar-nav-group-items
                - group.dig(:docs).each_with_index do |doc, doc_index|
                  %li{ class: current_page?(doc.dig(:url)) ? "active" : nil }
                    %a{ href: doc.dig(:url) }
                      - if doc_index == 0
                        %i.fa.fa-check-square-o.text-success
                      - else
                        %i.fa.fa-square-o
                      = doc.dig(:name)
