- @title = @organization.name

- render "themes/theme"
- content_for :container_class, "container-fluid"
- content_for :sidebar, render("admin/sidebar")
- content_for :header, @title

- content_for :breadcrumbs do
  %ol
    %li= link_to "Organizations", organizations_path
    %li= link_to @organization.name, @organization
    %li{ style: "font-weight: 300; color: #9e9e9e;" } Datasets

.dashboard-container.dashboard-table
  %table.table.table-striped.table-borderless.table-sticky.table-sm
    - @datasets.each do |dataset|
      %tr
        %td= link_to dataset.name, dataset

