- @title = "Edit Organization: #{@organization.name_was}"

- render "themes/theme"
- content_for :container_class, "container-fluid"
- content_for :sidebar, render("admin/sidebar")
- content_for :header, @organization.name_was

- content_for :breadcrumbs do
  %ol
    %li= link_to "Organizations", organizations_path
    %li= link_to @organization.name_was, @organization
    %li Edit

.dashboard-container= render "organizations/form", organization: @organization
