- @title = "Invite Member"

- render "themes/theme"
- content_for :container_class, "container-fluid"
- content_for :sidebar, render("admin/sidebar")
- content_for :header, @organization.name

.card
  .card-body
    %h4.card-title= @title
    %p.card-text
      Invite a member by sending them an email. You can set their role next.

    = form_with url: invite_member_organization_path(@organization), method: :post, local: true do |form|
      = render "forms/vertical/text_field", form: form, object: User.new, key: :email
      = render "forms/vertical/submit", form: form, object: @organization
