#top-menu
  .background-special
    %nav.navbar.navbar-expand-lg.navbar-dark.color-overlay-grey
      = link_to @organization.name, "#top-menu", class: "navbar-brand"

.page-box.last-box.page-box-no-padding
  .container-fluid
    .row.flex-xl-nowrap
      = render "organizations/legal_template_menu"

      .d-none.d-xl-block.col-xl-2.bd-toc-fixed
        Stuff

      %main.col-12.col-md-9.col-xl-8.pl-md-5{ role: "main" }
        .page-box-padding
          More Stuff
