- @title = "New Organization"

- render "themes/theme"
- content_for :sidebar, render("admin/sidebar")
- content_for :header, @title

.dashboard-container= render "organizations/form", organization: @organization
