- @title = 'New Category'

- content_for :banner do
  .banner
    .container
      .banner-header.brand
        = link_to 'Categories', categories_path
        &middot;
        = @title

= render 'form'
