- @title = "New Category"

- render "themes/theme"
- content_for :sidebar, render("admin/sidebar")
- content_for :header, @title

- content_for :breadcrumbs do
  %ol
    %li= link_to "Categories", categories_path
    %li{ style: "font-weight: 300; color: #9e9e9e;" } New

.dashboard-container= render "form"
