- @title = "New Category"

- content_for :body_class do
  brand-background

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title
  .breadcrumb-container.mb-0
    .container
      %ol
        %li= link_to "Categories", categories_path

.dashboard-container
  = render "form"
