%div{ style: "margin-bottom: 10px;" }
  %span.badge.badge-light= domain.name
%ul.list-unstyled
  - domain.domain_options.each do |domain_option|
    %li= "#{domain_option.value}: #{domain_option.display_name}"
