<div class="jumbotron" style="margin-bottom: 20px;margin-top: 10px;background-color: #333;color: white;padding-top: 20px;padding-bottom: 10px;">
  <p class="lead" style="text-align:left">
    <%= link_to @dataset.name, dataset_variables_path(@dataset) if show_dataset %>

    <% unless folder.blank? %>
      <% folder.to_s.split('/').each_with_index do |partial_folder, index| %>
        <% full_folder = folder.to_s.split('/')[0..index].join('/') %>
        <% if index > 0 or show_dataset %> / <% end %>
        <%= link_to partial_folder, dataset_variables_path(@dataset, folder: full_folder).gsub("%2F","/") %>
      <% end %>
    <% end %>
  </p>
</div>
