- relevance = variable.relevance(params[:s])
- max_score = Variable.max_score(params[:s])
- if relevance > 0 && max_score > 0
  - percent = [relevance * 100 / max_score, 100].min
  - status = 'danger'
  - status = 'warning' if percent >= 50
  - status = 'success' if percent == 100
  .progress.progress-striped
    .progress-bar{ class: "progress-bar-#{status}", style: "width: #{percent}%;" } &nbsp;

