- @title = "#{@variable.name.upcase} - #{@dataset.slug.upcase} Variables"

= render "variables/header"

- if @variable.known_issues.present?
  .dashboard-container
    %h1.variable-header Known Issues
    = simple_markdown(@variable.known_issues)
- else
  .dashboard-container
    %h1.variable-header Known Issues
    %ul
      %li.text-muted None
