- has_voted = data_request.has_voted?(current_user)
- data_request.data_request_reviews.each do |review|
  - case review.approved
  - when true
    - fa = "fa-thumbs-up"
    - badge = ["badge-success", review.vote_cleared? ? "data-request-review-vote-cleared" : nil]
  - when false
    - fa = "fa-thumbs-down"
    - badge = ["badge-danger", review.vote_cleared? ? "data-request-review-vote-cleared" : nil]
  - else
    - fa = "fa-question-circle"
    - badge = "badge-secondary"
  - if has_voted
    %span.badge{ class: badge }
      = review.user.initials
      %i.fa{ class: fa }
  - else
    - if review.approved.nil?
      %span.badge.badge-secondary.data-request-review-hidden
        = review.user.initials
        %i.fa.fa-question-circle
    - else
      %span.badge.badge-primary.data-request-review-hidden
        = review.user.initials
        %i.fa.fa-check-circle
