- data_request.data_request_reviews.each do |review|
  - case review.approved
  - when true
    - icon_display = icon("fas", "thumbs-up")
    - badge = ["badge-success", review.vote_cleared? ? "data-request-review-vote-cleared" : nil]
  - when false
    - icon_display = icon("fas", "thumbs-down")
    - badge = ["badge-danger", review.vote_cleared? ? "data-request-review-vote-cleared" : nil]
  - else
    - icon_display = icon("fas", "question-circle")
    - badge = "badge-secondary"
  %span.badge{ class: badge }
    = review.user.initials
    = icon_display
