- has_voted = data_request.has_voted?(current_user)
- data_request.data_request_reviews.each do |review|
  - case review.approved
  - when true
    - fa = "fa-thumbs-up"
    - badge = "badge-success"
  - when false
    - fa = "fa-thumbs-down"
    - badge = "badge-danger"
  - else
    - fa = "fa-question-circle"
    - badge = "badge-secondary"
  - if has_voted
    %span.badge{ class: badge }
      = review.user.initials
      %i.fa{ class: fa }
  - else
    %span.badge.badge-secondary.data-request-review-hidden
      = review.user.initials
      %i.fa.fa-question-circle
