- data_request.reviews.each do |review|
  - case review.approved when true
    - fa = "fa-thumbs-up"
    - badge = "badge-success"
  - when false
    - fa = "fa-thumbs-down"
    - badge = "badge-danger"
  - else
    - fa = "fa-question-circle"
    - badge = "badge-secondary"
  %span.badge{ class: badge }
    = review.user.initials
    %i.fa{ class: fa }
