- @title = "Edit Image: #{@image.name}"

- render "themes/theme"
- content_for :container_class, "container-fluid"
- content_for :sidebar, render("admin/sidebar")
- content_for :header, @title

.dashboard-container= render "images/form", image: @image
