- if published
  %span.label.label-info{ rel: 'tooltip', data: { container: 'body', placement: 'top', title: 'Published' } } P
- else
  %span.label.label-warning{ rel: 'tooltip', data: { container: 'body', placement: 'top', title: 'Draft' } } D
