- if published
  %span.badge.badge-light{ rel: "tooltip", data: { container: "body", placement: "top", title: "Published" } } P
- else
  %span.badge.badge-warning{ rel: "tooltip", data: { container: "body", placement: "top", title: "Draft" } } D
