.footer
  .row
    .col-xs-5.nowrap
      &copy; 2015
      %span.visible-xs-inline.visible-sm-inline
        NSRR
      %span.hidden-xs.hidden-sm
        National Sleep Research Resource
    .col-xs-2
      &nbsp;
    .col-xs-5.nowrap.text-right
      Funded By
      %span.visible-xs-inline.visible-sm-inline
        NHLBI
      %span.hidden-xs.hidden-sm
        National Heart, Lung, and Blood Institute
