<!-- FOOTER -->
<footer>
  <p class="pull-right">
    <%= link_to 'Back to top', request.path %>
  </p>
  <p>
    &copy; 2013 NSRR &middot; <%= link_to "v#{WwwSleepdataOrg::VERSION::STRING}", "https://github.com/nsrr/www.sleepdata.org" %>
  </p>
</footer>
