.footer-container
  %div{ class: defined?(container) && container.present? ? container : "container" }
    .footer
      .nowrap
        .float-right
          = link_to "Contact Us", contact_path
          |
          Funded By
          %span.d-inline.d-lg-none
            NHLBI
          %span.d-none.d-lg-inline
            National Heart, Lung, and Blood Institute

        &copy;
        = Time.zone.today.year
        .d-inline.d-md-none= link_to "NSRR", about_path
        .d-none.d-md-inline= link_to "National Sleep Research Resource", about_path
