- if current_page?(root_path)
  .logo-header
    .call-to-action
      .call-to-action-header.brand
        National Sleep Research Resource
      .call-to-action-body
        Explore a rich collection of sleep research data collected in children and
        adults across the U.S.
