.logo-header
  .container
    .slim-container.center
      %h1 National Sleep Research Resource
  .container-primary
    .container
      .slim-container
        %h2 About the NSRR - Sleep Research Data
        %p.lead
          Explore a rich collection of sleep research data collected in children and
          adults across the U.S.
