= link_to "NSRR", root_path, class: "navbar-brand navbar-hide-scrolled"
- if @menu_title || @title
  = link_to "#top", data: { object: "scroll-anchor" }, class: "navbar-brand navbar-show-scrolled" do
    = icon("fas", "level-up-alt", class: "fa-flip-horizontal")
    = @menu_title || @title
