.staging-server-container
  .staging-server.container
    = icon "fas", "paint-roller"
    This website is a testing environment and does not contain any data. Visit
    %strong= link_to "https://sleepdata.org", "https://sleepdata.org"
    to request actual data.
