- if ENV["survey_url"].present?
  - content_for :header do
    .alert-primary.p-1
      .lead.center
        Please fill out our
        = succeed "." do
          = link_to "short survey", ENV["survey_url"]
