- if cookies[:under_review_closed] != "1"
  #under-review.under-review
    .d-flex.align-items-center{ class: defined?(container) && container.present? ? container : "container" }
      .text-center.flex-fill
        This repository is under review for potential modification
        in compliance with Administration directives.

      .float-right
        = link_to icon("fas", "times"), "#", data: { object: "under-review", cookie: "under_review_closed", days: 14 }, class: "no-underline"