- case variable.variable_type
- when "check_box", "text"
  = render "legal_documents/outline/#{variable.variable_type}", variable: variable
- else
  = render "legal_documents/outline/string", variable: variable
