// https://material.google.com/style/color.html#color-color-palette

// Green
$p50: #e8f5e9;
$p100: #c8e6c9;
$p200: #a5d6a7;
$p300: #81c784;
$p400: #66bb6a;
$p500: #4caf50;
$p600: #43a047;
$p700: #388e3c;
$p800: #2e7d32;
$p900: #1b5e20;

// Light Blue
$a100: #80d8ff;
$a200: #40c4ff;
$a400: #00b0ff;
$a700: #0091ea;

$a200-text: #333;
