// https://material.google.com/style/color.html#color-color-palette

// // Green
// $p50: #e8f5e9;
// $p100: #c8e6c9;
// $p200: #a5d6a7;
// $p300: #81c784;
// $p400: #66bb6a;
// $p500: #4caf50;
// $p600: #43a047;
// $p700: #388e3c;
// $p800: #2e7d32;
// $p900: #1b5e20;

// Light Blue
$a100: #80d8ff;
$a200: #40c4ff;
$a400: #00b0ff;
$a700: #0091ea;

$a200-text: #333;

// Teal
$p50: #e0f2f1;
$p100: #b2dfdb;
$p200: #80cbc4;
$p300: #4db6ac;
$p400: #26a69a;
$p500: #009688;
$p600: #00897b;
$p700: #00796b;
$p800: #00695c;
$p900: #004d40;

// // Blue
// $a100: #82b1ff;
// $a200: #448aff;
// $a400: #2979ff;
// $a700: #2962ff;

// $a200-text: #333;

// // Indigo
// $a100: #8c9eff;
// $a200: #536dfe;
// $a400: #3d5afe;
// $a700: #304ffe;

// $a200-text: #333;

// // Cyan
// $a100: #84ffff;
// $a200: #18ffff;
// $a400: #00e5ff;
// $a700: #00b8d4;

// $a200-text: #333;
